<section class="what-else">
   <div class="wrapper">

      <h1>Что еще доступно</h1>

      <div class="what-else__cards">

         {{#each whatElse}}
            <div class="what-else__card card-what-else">

               <div class="card-what-else__img">
                  <img src="./img/pic/{{img}}" alt="{{alt}}">
               </div>

               <h2 class="card-what-else__title">{{{title}}}</h2>

               <p class="card-what-else__text">{{{text}}}</p>

               <a href="#" class="card-what-else__link">Подключить</a>
            </div>
         {{/each}}
      </div>
   </div>
</section>