@import 'bootstrap';
@import 'slick';
@import 'null';
@import 'colors';

body {
   font-family: 'MegaFon Graphik LC', sans-serif;
   color: #333333;

   /* хром, сафари */
   &::-webkit-scrollbar {
      width: 0;
   }
}

a, a:visited {
   color: var(--text-blue);

   &:hover {
      text-decoration: underline;
   }
}
button.btn:disabled {
   background-color: #EDEDED;
   color: #333;

   &:hover {
      background-color: #EDEDED;
      color: #333;
      cursor: auto;
   }
}

a.btn,
button.btn {
   height: 48px;
   border-radius: 24px;
   padding: 0 50px;
   font-size: 15px;
   color: #FFFFFF;
   display: inline-flex;
   align-items: center;
   transition: 0s;
   background-color: var(--mf-green);

   &:hover {
      background-color: #00EE6F;
   }
}

a.btn.btn-fiolet {
   background-color: var(--mf-fiolet);

   &:hover {
      background-color: #B808D4;
   }
}

h1 {
   font-size: 56px;
   font-weight: 700;
   text-transform: uppercase;
}

h2 {
   font-size: 32px;
   font-weight: 700;
   line-height: 40px;
}

.wrapper {
   max-width: 1420px;
   padding: 0 30px;
   margin: 0 auto;
   //border: 1px solid red;
}

.header {
   height: 70px;
   background-color: #fff;

   .wrapper {
      display: flex;
      align-items: center;
      padding: 0 0 0 30px;
      height: 100%;
   }

   &__logo a {
      display: block;
      width: 178px;
      height: 31px;
      background: url('../img/svg/mf_logo_full.svg') center / contain no-repeat;
   }

   &__phone {
      margin-left: auto;
      margin-right: 35px;

      a {
         font-size: 18px;
         font-weight: 500;
         color: #333;

         &:hover {
            text-decoration: none;
         }
      }
   }

   &__city {
      display: flex;
      align-items: center;
      height: 100%;
      border-left: 1px solid #EDEDED;
      cursor: pointer;
      padding: 0 35px;

      span {
         font-size: 12px;
         font-weight: 500;
         color: #7F7F7F;
         position: relative;

         &:after {
            content: '';
            display: inline-block;
            margin-top: -3px;
            margin-left: 8px;
            width: 6.5px;
            height: 6.5px;
            border-left: 2px solid #7F7F7F;
            border-top: 2px solid #7F7F7F;
            transform: rotate(-135deg) skew(-10deg, -10deg) translateY(3px);
         }
      }
   }

   @media (max-width: 1024px) {
      margin: 0 -30px;

      &__phone {
         margin-right: 20px;

         a {
            display: block;
            font-size: 0;
            height: 32px;
            width: 32px;
            background: url('../img/svg/tel.svg') center / contain no-repeat;
         }
      }
      &__city {
         border: 0;
         padding: 0;
         margin-right: 30px;

         span {
            font-size: 0;
            height: 32px;
            width: 24px;
            background: url('../img/svg/geo.svg') center / contain no-repeat;

            &:after {
               display: none;
            }
         }
      }
   }
}

.head-banner {
   background-color: var(--mf-green);

   .section-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 7px;
      height: 380px;
      background: url('../img/pic/sec1x2.png') 94% 100% / auto calc(100% - 5px) no-repeat;
   }

   &__col1 {
      color: #fff;
      margin-top: -23px;
      width: 55%;

      h1 {
         margin-bottom: 10px;
      }

      p {
         font-size: 16px;
         margin-bottom: 35px;
         font-weight: 700;
      }
   }

   &__col2 {
      height: 375px;
      margin-right: 50px;

      img {
         height: 100%;
      }
   }

   @media (max-width: 1100px) {
      .section-row {
         background: url('../img/pic/sec1x2.png') 100% 100% / auto calc(100% - 5px) no-repeat;
      }
      &__col1 {
         width: 40%;

         h1 {
            font-size: 48px;
         }
      }
   }
   @media (min-width: 768px) and (max-width: 980px) {
      .section-row {
         height: 350px;
         background: url('../img/pic/sec1x2.png') 100% 100% / 395px no-repeat;
      }
   }
   @media (max-width: 767px) {
      .section-row {
         align-items: flex-start;
         height: 520px;
         background: url('../img/pic/sec1x2.png') 100% 100% / 80% no-repeat;
         padding-top: 59px;
      }
      &__col1 {
         width: 100%;
         margin-top: 0;

         h1 {
            font-size: 40px;
         }
      }
   }
   @media (max-width: 500px) {
      .section-row {
         background: url('../img/pic/sec1x2.png') 100% 100% / contain no-repeat;
      }
      &__col1 {
         h1 {
            font-size: 32px;
         }
      }
   }
}

.tariffs {
   background-color: #EDEDED;
   padding: 36px 0 38px;
   overflow: hidden;

   .wrapper {
      max-width: 1440px;
   }

   .slider {

      .slick-arrow {
         font-size: 0;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background: var(--mf-fiolet) url('../img/svg/arrow_slider.svg') center / 14px no-repeat;
         position: absolute;

         &:not(.slick-disabled):hover {
            background-color: #B808D4;
         }

         &.slick-prev {
            left: -50px;
            top: 50%;
            transform: rotate(90deg);
         }

         &.slick-next {
            right: -50px;
            top: 50%;
            transform: rotate(-90deg);
         }

         &.slick-disabled {
            opacity: .3;
         }
      }

      .slick-dots {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 14px;

         li {
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #DBDBDB;
            margin-right: 6px;
            cursor: pointer;

            &:last-child {
               margin-right: 0;
            }

            &.slick-active {
               width: 12px;
               height: 12px;
               background-color: var(--mf-fiolet);
            }
         }
      }

      .slick-track, .slick-list {
         display: flex;
      }

      .slick-slide > div {
         height: 100%;
         padding: 10px;
      }

      .card {
         background: #FFFFFF;
         box-shadow: 0 1px 4px #0000004D;
         border-radius: 10px;
         padding: 30px 35px 46px;
         border: 0;
         height: 100%;
         display: flex !important;
         flex-direction: column;

         &__title {
            font-size: 20px;
            line-height: 28px;
            position: relative;
            padding-bottom: 15px;

            p {
               font-weight: 500;
            }

            a {
               font-size: 15px;
               display: inline-block;
            }

            &:after {
               content: '';
               position: absolute;
               bottom: 0;
               left: -15px;
               height: 1px;
               width: calc(100% + 30px);
               background-color: #DDDDDD;
            }
         }

         &__info {
            flex-grow: 1;
            padding-top: 28px;
            margin-bottom: 25px;

            &_block {
               margin-bottom: 26px;
            }
         }

         .info-card {

            &__title {
               color: #919191;
               font-size: 18px;
               line-height: 24px;
               margin-bottom: 13px;
               font-weight: 500;
            }

            &__desc {
               font-size: 15px;
               font-weight: 500;
               margin-bottom: 12px;
               display: flex;
               align-items: flex-end;

               &:nth-child(2) {
               }

               &.desk-mobile {
                  align-items: flex-start;

                  p:first-child {
                     font-weight: 500;
                     margin-bottom: 5px;
                  }

                  p:last-child {
                     font-size: 14px;
                  }

                  + div {
                     margin-bottom: 8px;
                  }
               }

               &.desk-channels a {
                  color: #333;
                  border-bottom: 1px dashed;

                  &:hover {
                     text-decoration: none;
                     border-bottom-style: solid;
                  }
               }

               &_icon {
                  width: 32px;
                  margin-right: 5px;

                  img {
                     display: block;
                     margin: 0 auto;
                  }
               }

               &:last-child {
                  margin-bottom: 0;
               }
            }
         }

         &__price {

            &_price {
               display: flex;
               align-items: flex-end;
               justify-content: center;
               margin-bottom: 12px;
               white-space: nowrap;

               span {
                  font-size: 12px;
                  line-height: 22px;
               }

               .old-price {
                  font-size: 18px;
                  line-height: 24px;
                  font-weight: 700;
                  text-decoration: 2px #EF0000 line-through;
               }

               .new-price {
                  font-size: 32px;
                  line-height: 32px;
                  color: var(--mf-green);
                  font-weight: 700;
                  margin: 0 5px;
               }
            }

            &_btn {
               display: flex;
               justify-content: center;
            }
         }

         &__mark {
            font-size: 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            height: 20px;
            line-height: 20px;
            padding: 0 10px;
            border-radius: 2px;

            &.mark-blue {
               background-color: var(--text-blue);
            }

            &.mark-red {
               background-color: #F62434;
            }
         }
      }
   }

   @media (max-width: 1024px) {
      .slider .slick-list {
         overflow: visible;
      }

      .wrapper {
         padding: 0 40px;
         margin-left: -20px;
      }
   }
}

.mf-tv {
   background-color: var(--mf-green);

   .wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 0;
   }

   &__text {
      color: #fff;
      max-width: 440px;
      padding-top: 99px;
      padding-bottom: 73px;

      h2 {
         margin-bottom: 23px;
      }

      p {
         font-size: 15px;
         line-height: 24px;
         margin-bottom: 58px;
      }

      .app-tv {
         a {
            margin-right: 14px;
            width: 40%;
            display: inline-block;

            &:last-child {
               margin-right: 0;
            }

            img {
               width: 100%;
            }
         }
      }
   }

   &__img {
      flex-grow: 1;
      white-space: nowrap;
      font-size: 0;
      margin-left: 78px;

      &:before {
         content: '';
         height: 100%;
         display: inline-block;
         vertical-align: middle;
      }

      img {
         width: 100%;
         vertical-align: middle;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      &__text {
         max-width: 335px;
      }
      &__img {
         margin-left: 0;
      }
   }
   @media (max-width: 767px) {
      .wrapper {
         flex-wrap: wrap;
         padding: 64px 30px 33px;
      }
      &__text {
         max-width: none;
         margin-bottom: 55px;
         padding-bottom: 0;
         padding-top: 0;

         .app-tv {
            a {
               margin-right: 0;
               width: calc(50% - 8px);
               float: left;

               &:last-child {
                  float: right;
               }

               img {
                  width: 100%;
               }
            }
         }
      }
      &__img {
         width: 100%;
         padding: 0;
         margin-left: 0;
      }
   }
}

.amediateka {
   background-color: #050505;
   color: #fff;
   text-align: center;

   &__header {
      padding: 62px 0 45px;
      img {
         display: inline-block;
         margin-bottom: 24px;
      }
      p {
         font-size: 32px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: -0.8px;
      }
   }

   &__content {
      display: flex;

      &_item {
         width: 20%;
         img {
            width: 100%;
         }
      }
   }

   &__footer {
      padding: 58px 0 15px;
      p {
         font-size: 15px;
         line-height: 24px;
         max-width: 1180px;
         margin: 0 auto 30px;
         letter-spacing: -0.2px;
      }
      .btn {
         margin-bottom: 50px;
      }
      &_copyright {
         color: #8D8D8D;
         font-size: 10px;

         span {
            vertical-align: top;
         }

         span:first-child {
            font-size: 20px;
            opacity: .5;
            margin-right: 7px;
         }
      }

   }
}

.check-adress {
   background-color: #fff;

   .wrapper {
      display: flex;
      align-items: center;
      padding: 75px 30px 78px;
   }

   h2 {
      max-width: 410px;
      margin-right: 50px;
      flex-shrink: 0;
   }

   input {
      line-height: 48px;
      padding: 0 24px;
      border: 1px solid #DDDDDD;
      margin-right: 58px;
      max-width: 442px;
      width: 100%;
   }
   
   @media (max-width: 1023px) {
      .wrapper {
         flex-wrap: wrap;
         padding: 73px 30px 100px;
      }

      h2 {
         margin-bottom: 42px;
         margin-right: 0;
         flex-shrink: 1;
         font-size: 28px;
      }

      input {
         max-width: none;
         margin-bottom: 41px;
         margin-right: 0;
      }

      .btn {
         margin: 0 auto;
      }
   }
}