@import 'bootstrap';
@import 'slick';
@import 'null';
@import 'colors';

body {
   font-family: 'MegaFon Graphik LC', sans-serif;
   color: #333333;

   /* хром, сафари */
   &::-webkit-scrollbar {
      width: 0;
   }
}

a, a:visited {
   color: var(--text-blue);

   &:hover {
      text-decoration: underline;
   }
}

button.btn:disabled {
   background-color: #EDEDED;
   color: #333;

   &:hover {
      background-color: #EDEDED;
      color: #333;
      cursor: auto;
   }
}

a.btn,
button.btn {
   height: 48px;
   border-radius: 24px;
   padding: 0 50px;
   font-size: 15px;
   color: #FFFFFF;
   display: inline-flex;
   align-items: center;
   transition: 0s;
   background-color: var(--mf-green);

   &:hover {
      background-color: #00EE6F;
   }
}

a.btn.btn-fiolet {
   background-color: var(--mf-fiolet);

   &:hover {
      background-color: #B808D4;
   }
}

h1 {
   font-size: 56px;
   font-weight: 700;
   text-transform: uppercase;
}

h2 {
   font-size: 32px;
   font-weight: 700;
   line-height: 40px;
}

h3 {
   font-size: 20px;
   line-height: 28px;
   font-weight: 500;
}

.slider {

   .slick-track, .slick-list {
      display: flex;
   }

   .slick-slide > div {
      height: 100%;
   }

   .slick-arrow {
      font-size: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: var(--mf-fiolet) url('../img/svg/arrow_slider.svg') center / 14px no-repeat;
      position: absolute;
      top: 42%;

      &:not(.slick-disabled):hover {
         background-color: #B808D4;
      }

      &.slick-prev {
         left: -50px;
         transform: rotate(90deg);
      }

      &.slick-next {
         right: -50px;
         transform: rotate(-90deg);
      }

      &.slick-disabled {
         opacity: .3;
      }
   }

   .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 14px;

      li {
         font-size: 0;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background-color: #DBDBDB;
         margin-right: 6px;
         cursor: pointer;

         &:last-child {
            margin-right: 0;
         }

         &.slick-active {
            width: 12px;
            height: 12px;
            background-color: var(--mf-fiolet);
         }
      }
   }
}

.wrapper {
   max-width: 1420px;
   padding: 0 30px;
   margin: 0 auto;
}

.header {
   height: 70px;
   background-color: #fff;

   .wrapper {
      display: flex;
      align-items: center;
      padding: 0 0 0 30px;
      height: 100%;
   }

   &__logo a {
      display: block;
      width: 178px;
      height: 31px;
      background: url('../img/svg/mf_logo_full.svg') center / contain no-repeat;
   }

   &__phone {
      margin-left: auto;
      margin-right: 35px;

      a {
         font-size: 18px;
         font-weight: 500;
         color: #333;

         &:hover {
            text-decoration: none;
         }
      }
   }

   &__city {
      display: flex;
      align-items: center;
      height: 100%;
      border-left: 1px solid #EDEDED;
      cursor: pointer;
      padding: 0 35px;

      span {
         font-size: 12px;
         font-weight: 500;
         color: #7F7F7F;
         position: relative;

         &:after {
            content: '';
            display: inline-block;
            margin-top: -3px;
            margin-left: 8px;
            width: 6.5px;
            height: 6.5px;
            border-left: 2px solid #7F7F7F;
            border-top: 2px solid #7F7F7F;
            transform: rotate(-135deg) skew(-10deg, -10deg) translateY(3px);
         }
      }
   }

   @media (max-width: 1024px) {
      margin: 0 -30px;

      &__phone {
         margin-right: 20px;

         a {
            display: block;
            font-size: 0;
            height: 32px;
            width: 32px;
            background: url('../img/svg/tel.svg') center / contain no-repeat;
         }
      }
      &__city {
         border: 0;
         padding: 0;
         margin-right: 30px;

         span {
            font-size: 0;
            height: 32px;
            width: 24px;
            background: url('../img/svg/geo.svg') center / contain no-repeat;

            &:after {
               display: none;
            }
         }
      }
   }
}

.head-banner {
   background-color: var(--mf-green);

   .section-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 7px;
      height: 380px;
      background: url('../img/pic/sec1x2.png') 94% 100% / auto calc(100% - 5px) no-repeat;
   }

   &__col1 {
      color: #fff;
      margin-top: -23px;
      width: 55%;

      h1 {
         margin-bottom: 10px;
      }

      p {
         font-size: 16px;
         margin-bottom: 35px;
         font-weight: 700;
      }
   }

   &__col2 {
      height: 375px;
      margin-right: 50px;

      img {
         height: 100%;
      }
   }

   @media (max-width: 1100px) {
      .section-row {
         background: url('../img/pic/sec1x2.png') 100% 100% / auto calc(100% - 5px) no-repeat;
      }
      &__col1 {
         width: 40%;

         h1 {
            font-size: 48px;
         }
      }
   }
   @media (min-width: 768px) and (max-width: 980px) {
      .section-row {
         height: 350px;
         background: url('../img/pic/sec1x2.png') 100% 100% / 395px no-repeat;
      }
   }
   @media (max-width: 767px) {
      .section-row {
         align-items: flex-start;
         height: 520px;
         background: url('../img/pic/sec1x2.png') 100% 100% / 80% no-repeat;
         padding-top: 59px;
      }
      &__col1 {
         width: 100%;
         margin-top: 0;

         h1 {
            font-size: 40px;
         }
      }
   }
   @media (max-width: 500px) {
      .section-row {
         background: url('../img/pic/sec1x2.png') 100% 100% / contain no-repeat;
      }
      &__col1 {
         h1 {
            font-size: 32px;
         }
      }
   }
}

.tariffs {
   background-color: #EDEDED;
   padding: 36px 0 38px;
   overflow: hidden;

   .wrapper {
      max-width: 1440px;
   }

   .slider {

      .slick-track, .slick-list {
         display: flex;
      }

      .slick-slide > div {
         height: 100%;
         padding: 10px;
      }

      .card {
         background: #FFFFFF;
         box-shadow: 0 1px 4px #0000004D;
         border-radius: 10px;
         padding: 30px 35px 46px;
         border: 0;
         height: 100%;
         display: flex !important;
         flex-direction: column;

         &__title {
            font-size: 20px;
            line-height: 28px;
            position: relative;
            padding-bottom: 15px;

            p {
               font-weight: 500;
            }

            a {
               font-size: 15px;
               display: inline-block;
            }

            &:after {
               content: '';
               position: absolute;
               bottom: 0;
               left: -15px;
               height: 1px;
               width: calc(100% + 30px);
               background-color: #DDDDDD;
            }
         }

         &__info {
            flex-grow: 1;
            padding-top: 28px;
            margin-bottom: 25px;

            &_block {
               margin-bottom: 26px;
            }
         }

         .info-card {

            &__title {
               color: #919191;
               font-size: 18px;
               line-height: 24px;
               margin-bottom: 13px;
               font-weight: 500;
            }

            &__desc {
               font-size: 15px;
               font-weight: 500;
               margin-bottom: 12px;
               display: flex;
               align-items: flex-end;

               &:nth-child(2) {
               }

               &.desk-mobile {
                  align-items: flex-start;

                  p:first-child {
                     font-weight: 500;
                     margin-bottom: 5px;
                  }

                  p:last-child {
                     font-size: 14px;
                  }

                  + div {
                     margin-bottom: 8px;
                  }
               }

               &.desk-channels a {
                  color: #333;
                  border-bottom: 1px dashed;

                  &:hover {
                     text-decoration: none;
                     border-bottom-style: solid;
                  }
               }

               &_icon {
                  width: 32px;
                  margin-right: 5px;

                  img {
                     display: block;
                     margin: 0 auto;
                  }
               }

               &:last-child {
                  margin-bottom: 0;
               }
            }
         }

         &__price {

            &_price {
               display: flex;
               align-items: flex-end;
               justify-content: center;
               margin-bottom: 12px;
               white-space: nowrap;

               span {
                  font-size: 12px;
                  line-height: 22px;
               }

               .old-price {
                  font-size: 18px;
                  line-height: 24px;
                  font-weight: 700;
                  text-decoration: 2px #EF0000 line-through;
               }

               .new-price {
                  font-size: 32px;
                  line-height: 32px;
                  color: var(--mf-green);
                  font-weight: 700;
                  margin: 0 5px;
               }
            }

            &_btn {
               display: flex;
               justify-content: center;
            }
         }

         &__mark {
            font-size: 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            height: 20px;
            line-height: 20px;
            padding: 0 10px;
            border-radius: 2px;

            &.mark-blue {
               background-color: var(--text-blue);
            }

            &.mark-red {
               background-color: #F62434;
            }
         }
      }
   }

   @media (max-width: 1024px) {
      .slider .slick-list {
         overflow: visible;
      }

      .wrapper {
         padding: 0 40px;
         margin-left: -20px;
      }
   }
}

.mf-tv {
   background-color: var(--mf-green);

   .wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 0;
   }

   &__text {
      color: #fff;
      max-width: 440px;
      padding-top: 99px;
      padding-bottom: 73px;

      h2 {
         margin-bottom: 23px;
      }

      p {
         font-size: 15px;
         line-height: 24px;
         margin-bottom: 58px;
      }

      .app-tv {
         a {
            margin-right: 14px;
            width: 40%;
            display: inline-block;

            &:last-child {
               margin-right: 0;
            }

            img {
               width: 100%;
            }
         }
      }
   }

   &__img {
      flex-grow: 1;
      white-space: nowrap;
      font-size: 0;
      margin-left: 78px;

      &:before {
         content: '';
         height: 100%;
         display: inline-block;
         vertical-align: middle;
      }

      img {
         width: 100%;
         vertical-align: middle;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      &__text {
         max-width: 335px;
      }
      &__img {
         margin-left: 0;
      }
   }
   @media (max-width: 767px) {
      .wrapper {
         flex-wrap: wrap;
         padding: 64px 30px 33px;
      }
      &__text {
         max-width: none;
         margin-bottom: 55px;
         padding-bottom: 0;
         padding-top: 0;

         .app-tv {
            a {
               margin-right: 0;
               width: calc(50% - 8px);
               float: left;

               &:last-child {
                  float: right;
               }

               img {
                  width: 100%;
               }
            }
         }
      }
      &__img {
         width: 100%;
         padding: 0;
         margin-left: 0;
      }
   }
}

.amediateka {
   background-color: #050505;
   color: #fff;
   text-align: center;

   &__header {
      padding: 62px 0 45px;

      img {
         display: inline-block;
         margin-bottom: 24px;
      }

      p {
         font-size: 32px;
         font-weight: 700;
         line-height: 28px;
         text-transform: uppercase;
         letter-spacing: -0.8px;
      }
   }

   &__content {
      display: flex;

      &_item {
         img {
            width: 100%;
         }
      }
   }

   @media (max-width: 767px) {
      &__header {
         padding: 80px 0 40px;

         img {
            width: 100%;
            max-width: 240px;
         }

         p {
            font-size: 20px;
         }
      }

      &__content {
         &_item:first-child,
         &_item:last-child {
            display: none;
         }
      }

      &__footer {
         padding-bottom: 50px;

         &_copyright {
            display: none;
         }
      }
   }

   &__footer {
      padding: 58px 0 15px;

      p {
         font-size: 15px;
         line-height: 24px;
         max-width: 1180px;
         margin: 0 auto 30px;
         letter-spacing: -0.2px;
      }

      .btn {
         margin-bottom: 50px;
      }

      &_copyright {
         color: #8D8D8D;
         font-size: 10px;

         span {
            vertical-align: top;
         }

         span:first-child {
            font-size: 20px;
            opacity: .5;
            margin-right: 7px;
         }
      }

   }
}

.check-adress {
   background-color: #fff;

   .wrapper {
      display: flex;
      align-items: center;
      padding: 75px 30px 78px;
   }

   h2 {
      max-width: 410px;
      margin-right: 50px;
      flex-shrink: 0;
   }

   input {
      line-height: 48px;
      padding: 0 24px;
      border: 1px solid #DDDDDD;
      margin-right: 58px;
      max-width: 442px;
      width: 100%;
   }

   @media (max-width: 1023px) {
      .wrapper {
         flex-wrap: wrap;
         padding: 73px 30px 100px;
      }

      h2 {
         margin-bottom: 42px;
         margin-right: 0;
         flex-shrink: 1;
         font-size: 28px;
      }

      input {
         max-width: none;
         margin-bottom: 41px;
         margin-right: 0;
      }

      .btn {
         margin: 0 auto;
      }
   }
}

.equipment {
   background-color: #EDEDED;

   .wrapper {
      max-width: 1360px;
      padding: 80px 0 63px;
   }

   .slick-arrow {
      &.slick-prev {
         left: -60px;
      }

      &.slick-next {
         right: -60px;
      }
   }

   .slick-dots {
      margin-top: 27px;
   }

   .slide-equipment {
      background-color: var(--mf-green);
      color: #fff;
      display: flex !important;
      justify-content: space-between;
      height: 100%;

      &__text {
         width: 51%;
         min-width: 545px;
         flex-shrink: 0;
         padding: 58px 0 58px 58px;

         h2 {
            margin-bottom: 26px;
         }

         p {
            max-width: 410px;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 42px;
         }

         .equipment-params {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 28px;

            &__item {
               width: 50%;
               flex-grow: 1;
               display: flex;
               align-items: center;
               margin-bottom: 30px;

               &_icon {
                  width: 56px;
                  height: 56px;
                  border-radius: 50%;
                  margin-right: 16px;
                  flex-shrink: 0;

                  &.cpu {
                     background: #fff url('../img/svg/cpu-24.svg') center / 26px no-repeat;
                  }

                  &.zone {
                     background: #fff url('../img/svg/zone-24.svg') center / 24px no-repeat;
                  }

                  &.hertz {
                     background: #fff url('../img/svg/hertz_24.svg') center / 24px no-repeat;
                  }

                  &.speed {
                     background: #fff url('../img/svg/speed-2.svg') center / 24px no-repeat;
                  }

                  &.antennas {
                     background: #fff url('../img/svg/Router_3.svg') center / 22px no-repeat;
                  }

                  &.mobile-internet {
                     background: #fff url('../img/svg/4g.svg') center / 28px no-repeat;
                  }

                  &.upgrade {
                     background: #fff url('../img/svg/Change-sim-card_32.svg') center / 28px no-repeat;
                  }

                  &.pult {
                     background: #fff url('../img/svg/pult.svg') center / 13.6px no-repeat;
                  }

                  &.wi-fi {
                     background: #fff url('../img/svg/wi-fi.svg') center / 19px no-repeat;
                  }

                  &.family {
                     background: #fff url('../img/svg/Family_32.svg') center / 24px no-repeat;
                  }
               }

               &_text {
                  font-size: 15px;
                  line-height: 20px;
                  padding-right: 10px;
               }
            }
         }

         .equipment-order {
            display: flex;

            .btn {
               margin-right: 38px;
            }

            &__text {
               p {
                  font-size: 20px;
                  line-height: 28px;
                  margin-bottom: 0;
               }

               a {
                  font-size: 15px;
                  line-height: 20px;
                  color: #fff;
               }

               div {
                  text-decoration: underline;
                  cursor: pointer;
                  margin-top: 6px;
                  font-size: 15px;
               }
            }
         }
      }

      &__img {
         flex-grow: 1;
         max-height: 322px;
         margin-top: 87px;
         margin-right: 30px;
         text-align: center;

         img {
            display: inline-block;
            max-height: 100%;
            max-width: 100%;
         }
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      .wrapper {
         padding: 80px 0 47px;
      }

      .slide-equipment {
         flex-wrap: wrap;

         &__text {
            width: 100%;
            position: relative;

            p {
               max-width: 650px;
            }

            .equipment-params {
               width: 75%;
            }

            .equipment-order {
               flex-wrap: wrap;
               width: 50%;

               .btn {
                  order: 1;
                  margin-right: 0;
               }

               &__text {
                  width: 100%;
                  margin-bottom: 30px;
               }
            }
         }

         &__img {
            width: 50%;
            flex-grow: 0;
            margin-left: auto;
            margin-top: -180px;
            padding: 0 0 59px;
            text-align: right;
         }
      }
   }

   @media (max-width: 767px) {
      .wrapper {
         padding: 80px 0 47px;
      }

      .slide-equipment {
         flex-wrap: wrap;

         &__text {
            width: 100%;
            padding: 60px 30px 42px;
            min-width: 0;

            h2 {
               font-size: 28px;
            }

            .equipment-params {
               &__item {
                  width: 100%;
               }
            }

            .equipment-order {
               flex-wrap: wrap;

               .btn {
                  order: 1;
                  margin-right: 0;
               }

               &__text {
                  width: 100%;
                  margin-bottom: 30px;
               }
            }
         }

         &__img {
            width: 100%;
            margin-top: 0;
            padding: 0 53px 94px;
            margin-right: 0;
         }
      }
   }
}

.app {
   position: relative;
   min-height: 200px;
   color: #fff;

   &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;
      background-color: var(--mf-green);
      z-index: -1;
   }

   &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;
      background-color: var(--mf-fiolet);
      z-index: -1;
   }

   .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .app-title {
         display: none;
         width: 100%;
         padding-top: 78px;
      }
   }

   &__green {
      padding: 93px 0 113px;
      width: calc(50% - 135px);

      h2 {
         margin-bottom: 41px;
         max-width: 400px;
      }

      .app-item {
         display: flex;
         align-items: center;
         margin-bottom: 37px;

         &:last-child {
            margin-bottom: 0;
         }

         &__icon {
            width: 56px;
            height: 56px;
            margin-right: 20px;
            border-radius: 50%;
            flex-shrink: 0;

            &_mess {
               background: #fff url('../img/svg/mess.svg') center / 28px no-repeat;
            }

            &_support-ava {
               background: #fff url('../img/svg/Support-avatar_32.svg') center / 32px no-repeat;
            }

            &_balance {
               background: #fff url('../img/svg/Balance_32.svg') center / 28px no-repeat;
            }
         }

         &__text {
            p {
               font-size: 20px;
               line-height: 28px;
               margin-bottom: 3px;
            }

            span {
               font-size: 15px;
               line-height: 20px;
            }
         }
      }
   }

   &__iphone {
      left: calc(50% - 135px);

      img {
         width: 270px;
      }
   }

   &__fiolet {
      width: calc(50% - 135px);
      padding-left: 7%;

      .app__iphone {
         display: none;
      }

      p {
         font-size: 15px;
         line-height: 20px;
         margin-bottom: 60px;
         max-width: 402px;
      }

      .app-apps {
         a {
            max-width: 176px;
            display: inline-block;

            &:first-child {
               margin-right: 15px;
               margin-bottom: 17px;
            }

            img {
               width: 100%;
            }
         }
      }
   }

   @media (min-width: 1024px) and (max-width: 1150px) {

      .wrapper {
         flex-wrap: wrap;
         align-items: flex-start;
         padding-bottom: 58px;

         .app-title {
            display: block;

            h2 {
               width: 400px;
            }
         }
      }

      &__green {
         width: calc(50% - 115px);
         padding-top: 52px;
         padding-bottom: 0;

         h2 {
            display: none;
         }

         .app-item {
            align-items: flex-start;
         }
      }

      &__iphone {
         left: calc(50% - 115px);

         img {
            width: 230px;
         }
      }

      &__fiolet {
         width: calc(50% - 115px);
         padding-top: 55px;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      &:before,
      &:after {
         display: none;
      }

      .wrapper {
         padding: 0;
         flex-wrap: wrap;
      }

      h2 {
         font-size: 28px;
         margin-bottom: 50px;
         max-width: none;
      }

      &__green {
         background-color: var(--mf-green);
         width: 100%;
         padding: 60px 30px 82px;

         .app-item {
            align-items: flex-start;
            margin-bottom: 46px;
         }
      }

      &__iphone {
         display: none;

      }

      &__fiolet {
         width: 100%;
         background-color: var(--mf-fiolet);
         padding: 88px 330px 50px 30px;
         min-height: 440px;

         .app__iphone {
            display: block;
            width: 274px;
            margin-top: -255px;
            position: absolute;
            right: 30px;
            left: auto;
         }

         p {
            max-width: none;
         }
      }
   }

   @media (max-width: 767px) {
      &:before,
      &:after {
         display: none;
      }

      .wrapper {
         padding: 0;
         flex-wrap: wrap;
      }

      h2 {
         font-size: 28px;
         margin-bottom: 50px;
      }

      &__green {
         background-color: var(--mf-green);
         width: 100%;
         padding: 60px 30px 300px;

         .app-item {
            align-items: flex-start;
            margin-bottom: 46px;
         }
      }

      &__iphone {
         width: 100%;
         text-align: center;
         margin-top: -279px;
         position: relative;
         left: auto;
      }

      &__fiolet {
         width: 100%;
         background-color: var(--mf-fiolet);
         margin-top: -279px;
         padding: 279px 30px 111px;

         p {
            max-width: none;
         }

         .app-apps {
            a {
               width: calc(50% - 10px);
               margin: 0 !important;
               max-width: none;

               &:last-child {
                  float: right;
               }
            }
         }
      }
   }
}

.about-tariffs {
   .wrapper {
      padding-top: 60px;
      padding-bottom: 74px;
   }

   h2 {
      margin-bottom: 29px;
   }

   .accordion {
      display: flex;

      > div {
         width: 50%;
         margin-right: 20px;
      }

      &__item {
         font-size: 15px;
         line-height: 20px;
         font-weight: 500;
         border-bottom: 1px solid #DDDDDD;
      }

      &__header {
         padding: 15.5px 35px 15.5px 0;
         cursor: pointer;
         position: relative;

         &:after {
            content: '';
            position: absolute;
            right: 20px;
            top: 0;
            width: 13px;
            height: 100%;
            background: url('../img/svg/arrow.svg') center / contain no-repeat;
            transform: rotate(180deg);
         }

         &.collapsed:after {
            transform: none;
         }
      }

      .card-body {
         font-size: 14px;
         font-weight: 400;
         line-height: 18px;
         opacity: .5;
         padding-top: 0;
         padding-bottom: 24px;
         padding-right: 10%;
      }
   }

   @media (max-width: 1024px) {
      .wrapper {
         padding-top: 80px;
         padding-bottom: 80px;
      }
      .accordion {
         flex-wrap: wrap;

         > div {
            width: 100%;
            margin-right: 0;
         }
      }
   }

   @media (max-width: 767px) {
      h2 {
         font-size: 28px;
      }
   }
}

.footer {
   background-color: #EDEDED;
   color: #999999;
   font-size: 12px;
   line-height: 14px;

   .wrapper {
      display: flex;
      padding-top: 48px;
      padding-bottom: 47px;
   }

   .copyright {
      margin-right: 50px;
      min-width: 185px;

      &__age {
         width: 37px;
         height: 37px;
         border-radius: 50%;
         background-color: #D8D8D8;
         font-weight: 500;
         line-height: 37px;
         text-align: center;
         flex-shrink: 0;
         margin-right: 8px;
         display: inline-block;
      }

      &__text {
         display: inline-block;
         white-space: nowrap;
         line-height: 37px;
      }
   }

   &__transfer {
      margin-right: 42px;
      max-width: 531px;
   }

   &__policy {
      margin-right: 67px;
      max-width: 338px;

      a {
         text-decoration: underline;
         color: inherit;
      }
   }

   @media (max-width: 1024px) {
      .wrapper {
         flex-wrap: wrap;
         padding-top: 48px;
         padding-bottom: 57px;
         position: relative;

         > p {
            width: 100%;
            margin-right: 0;
            max-width: none;
            padding-left: 50%;
         }
      }

      .copyright {
         position: absolute;
      }

      &__transfer {
         margin-bottom: 30px;
      }

      &__speedtest {
         position: absolute;
         top: 105px;

         img {
            width: 109px;
         }
      }
   }

   @media (max-width: 767px) {
      .wrapper {
         flex-wrap: wrap;
         padding-top: 46px;
         padding-bottom: 79px;

         > * {
            width: 100%;
            margin-right: 0;

            position: relative;
         }

         > p {
            padding-left: 0;
         }
      }

      .copyright {
         order: 1;
         margin-bottom: 22px;
      }

      &__transfer {
         order: 3;
         margin-bottom: 22px;
      }

      &__speedtest {
         order: 2;
         margin-bottom: 21px;
         top: auto;
      }

      &__policy {
         order: 4;
      }
   }
}


// modals

.modal {
   .modal-dialog {
      width: 100%;
      max-width: 1088px;
   }

   .modal-content {
      padding: 81px 125px 131px;
      border-radius: 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;

      h2 {
         margin-bottom: 40px;
      }

      h3 {
         margin-bottom: 33px;
      }

      ul {
         margin-bottom: 60px;
         width: 42%;
         padding-left: 16px;

         li {
            position: relative;
         }

         li:before {
            content: '—';
            position: absolute;
            left: -16px;
         }
      }

      .modal-order {
         display: flex;
         align-items: center;

         .btn {
            margin-right: 38px;
         }

         &__text {
            p {
               font-size: 20px;
               line-height: 28px;
               margin-bottom: 0;
               font-weight: 500;
            }

            a {
               font-size: 15px;
               line-height: 20px;
               font-weight: 400;
            }

         }

      }

      .modal-img {
         width: 41%;
         height: 450px;
         position: absolute;
         top: 33px;
         right: 108px;
         font-size: 0;
         white-space: nowrap;

         &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
         }

         img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
         }
      }
   }

   .modal-close {
      width: 20px;
      height: 20px;
      background: url('../img/svg/close.svg') center / contain no-repeat;
      position: absolute;
      top: 23px;
      right: 23px;
   }

   @media (min-width:768px) and (max-width:1024px) {

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }
      
      .modal-wrapper {
         position: relative;
      }

      .modal-content {
         padding: 0 30px;
         width: 100%;
         height: 100%;
         justify-content: center;

         .modal-img {
            width: 41%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 44px;
         }
      }
   }

   @media (max-width:767px) {
      .modal-dialog {
         width: 100%;
         margin: 0;
         max-width: none;
      }

      .modal-wrapper {
         position: relative;
         display: flex;
         flex-direction: column;
      }

      .modal-content {
         padding: 95px 30px 80px;
         width: 100%;
         height: 100%;
         justify-content: center;

         ul {
            width: 100%;
         }

         .modal-img {
            width: 100%;
            height: auto;
            position: relative;
            top: 0;
            right: auto;
            margin-bottom: 40px;
         }
      }

      .modal-order {
         order: 1;
         flex-wrap: wrap;

         &__text {
            width: 100%;
            margin-bottom: 30px;
         }

         .btn {
            order: 1;
         }
      }

   }
}
