body {
   font-family: 'MegaFon Graphik LC', sans-serif;
   color: #333333;

   /* хром, сафари */
   //&::-webkit-scrollbar {
   //   width: 0;
   //}
}

a, a:visited {
   color: var(--text-blue);

   &:hover {
      text-decoration: underline;
   }
}

a.btn,
div.btn,
button.btn {
   height: 48px;
   border-radius: 24px;
   padding: 0 50px;
   font-size: 15px;
   color: #FFFFFF;
   display: inline-flex;
   align-items: center;
   transition: 0s;
   background-color: var(--mf-green);

   &:hover {
      background-color: #00EE6F;
   }
}

a.btn.btn-fiolet {
   background-color: var(--mf-fiolet);

   &:hover {
      background-color: #B808D4;
   }
}

button.btn:disabled {
   background-color: #EDEDED;
   color: #333;

   &:hover {
      background-color: #EDEDED;
      color: #333;
      cursor: auto;
   }
}

button.back {
   width: 70px;
   height: 21px;
   background: url('../img/svg/back.svg') 0 50% / 20px no-repeat;
   position: absolute;
   top: 25px;
   left: 30px;
   text-align: right;
}

h1 {
   font-size: 56px;
   font-weight: 700;
   text-transform: uppercase;
}

h2 {
   font-size: 32px;
   font-weight: 700;
   line-height: 40px;
}

h3 {
   font-size: 20px;
   line-height: 28px;
   font-weight: 500;
}

p {
   font-weight: 500;
}

label {
   display: flex;
   cursor: pointer;
}

input {
   line-height: 48px;
   padding: 0 24px;
   border: 1px solid #DDDDDD;
}

input[data-provide="datepicker"] {
   background: url('../img/svg/Calendar_16.svg') calc(100% - 21px) 50% / 14px no-repeat;
   border-radius: 0;

   &::placeholder {
      color: #333;
      font-size: 15px;
      font-weight: 500;
   }

   &:focus {
      border-color: #ddd;
   }
}

.datepicker.dropdown-menu {
   font-size: 18px;
   padding: 45px 5px 20px;
   border-radius: 0;
   margin-top: 10px;

   &:before, &:after {
      display: none;
   }

   .datepicker-switch {
      font-size: 20px;
      color: var(--mf-green);
      font-weight: 500;
   }

   .dow {
      color: #DDDDDD;
      font-size: 15px;
      font-weight: 500;
   }

   .prev, .next {
      font-size: 0;
      background: url('../img/svg/arrow-green-l.svg') center / 10px no-repeat;

      &:hover {
         background: #eee url('../img/svg/arrow-green-l.svg') center / 10px no-repeat;
      }
   }

   .next {
      background: url('../img/svg/arrow.green-r.svg') center / 10px no-repeat;

      &:hover {
         background: #eee url('../img/svg/arrow.green-r.svg') center / 10px no-repeat;
      }
   }

   .table-condensed thead > tr:nth-child(2){
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 5px 0 17px;

      th {
         display: flex;
         align-items: center;

         &:nth-child(2) {
            order: 1;
            pointer-events: none;
         }
         &:nth-child(1) {
            margin-left: auto;
            margin-right: 10px;
            order: 2;
         }
         &:nth-child(3) {
            order: 3;
         }
      }
   }

   table tr td, .datepicker table tr th {
      width: 47px;
      height: 40px;
   }

   .active.day {
      color: var(--mf-green) !important;
      border: 0 !important;
      background-color: transparent !important;

      &:hover {
         background-color: #eee !important;
      }
   }

   @media (max-height: 700px) {
      position: fixed;
      top: auto !important;
      left: 10px !important;
      bottom: 10px !important;
      right: 10px !important;
   }
}

.switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 20px;
   box-sizing: border-box;

   input {
      display: none;
   }

   span {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      transition: .3s;
      border: 1px solid #DDDDDD;
   }

   span:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      left: -1px;
      bottom: -1px;
      background-color: #fff;
      transition: .3s;
      border: 1px solid #DDDDDD;
   }

   input:checked + span {
      background-color: var(--mf-green);
   }

   input:focus + span {
      box-shadow: 0 0 1px #19181F;
   }

   input:checked + span:before {
      transform: translateX(20px);
   }

   /* Rounded sliders */
   span.round {
      border-radius: 34px;
   }

   span.round:before {
      border-radius: 50%;
   }
}

.price {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   white-space: nowrap;

   span {
      font-size: 12px;
      line-height: 22px;
   }

   .old-price {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      position: relative;

      &:before {
         content: '';
         position: absolute;
         left: 0;
         top: 50%;
         height: 2px;
         width: 100%;
         background-color: #ff0000;
      }
   }

   .new-price {
      font-size: 32px;
      line-height: 32px;
      color: var(--mf-green);
      font-weight: 700;
      margin: 0 5px;
   }
}

.slider {

   .slick-track, .slick-list {
      display: flex;
   }

   .slick-slide > div {
      height: 100%;
   }

   .slick-arrow {
      font-size: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #731982 url('../img/svg/arrow_slider.svg') center / 10px no-repeat;
      position: absolute;
      top: 42%;

      &:not(.slick-disabled):hover {
         background-color: #B808D4;
      }

      &.slick-prev {
         left: -50px;
         transform: rotate(180deg);
      }

      &.slick-next {
         right: -50px;
      }

      &.slick-disabled {
         opacity: .3;
      }
   }

   .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 14px;

      li {
         font-size: 0;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background-color: #DBDBDB;
         margin-right: 6px;
         cursor: pointer;

         &:last-child {
            margin-right: 0;
         }

         &.slick-active {
            width: 12px;
            height: 12px;
            background-color: var(--mf-fiolet);
         }
      }
   }
}

.wrapper {
   max-width: 1420px;
   padding: 0 30px;
   margin: 0 auto;
}

form {
   input {
      position: relative;
      padding-right: 40px;

       + label,
       + label+label{
         display: none;
         position: absolute;
         font-size: 12px;
         font-weight: 400;
         color: var(--mf-green);
      }

      &::placeholder {
         color: #33333380;
      }

      &:focus {
         border: 1px solid #333333;

         &::placeholder {
            color: #333333;
         }
      }
   }

   input.valid {
      border: 1px solid var(--mf-green);
      background: url('../img/svg/check.svg') calc(100% - 20px) 50% / 15px no-repeat;

      + label {
         display: block;
         color: var(--mf-green);
      }
   }
   input.error {
      border: 1px solid #F62434;
      background: url('../img/svg/invalid.svg') calc(100% - 23px) 50% / 13px no-repeat;

      + label {
         display: block;
         color: #F62434;
      }
   }
}
