<div class="modal tariff-all" id="tariff-all" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

   <div class="tariff-modal__btn-close modal-dialog">
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
   </div>

   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tariff-all">

         <h1 class="tariff-modal__title wrapp">МегаТариф. Без переплат</h1>

         <div class="tariff-all__container">

            <ul class="tariff-modal__items">
               <li class="tariff-modal__item item-modal wrapp">
                  <ul class="item-modal__options">
                     {{#each megatariff}}
                        <li class="item-modal__option option-item">
                           <div class="option-item__text">
                              <p class="option-item__text-name">{{name}}</p>
                              {{#if description}}
                                 <p class="option-item__text-desc">{{description}}</p>
                              {{/if}}
                           </div>
                           <p class="option-item__value">{{value}}</p>
                        </li>
                     {{/each}}
                  </ul>
               </li>
            </ul>

            <div class="tariff-all__dop-options wrapp">
               <div class="tariff-modal__download-pdf download-pdf"><a
                  href="/uploads/docs/2022/bez_pereplat/tariff_5650_moscow.pdf" class="download-pdf__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21.01" viewBox="0 0 20 21.01"><defs><style>.a{fill:#333;}</style></defs><g transform="translate(-6 -5.99)"><path class="a" d="M15.04,5.99,14.97,17l-1.26-1.49-1.42,1.41L15.37,20h1.26l3.08-3.08-1.42-1.41-1.32,1.55.07-11.05-2-.02Z"/><path class="a" d="M8,17H6a10,10,0,0,0,20,0H24A8,8,0,0,1,8,17Z"/></g></svg>
               </a>
                  <div class="download-pdf__text"><a href="/uploads/docs/2022/bez_pereplat/tariff_5650_moscow.pdf">Скачать
                     подробную информацию о тарифе</a> <span>(PDF)</span></div>
               </div>
            </div>


         </div>
      </div>
   </div>
</div>