.tariff-all {
   font-size: 15px;
   line-height: 20px;
   font-weight: 500;

   .modal-dialog {
      max-width: calc(820px + 48px * 2);
      padding: 0 48px;
      overflow: visible;
   }

   .modal-content {
      padding: 0;
      overflow: visible;

      > * {
         $br: 24px;
         overflow: hidden;

         &:first-child {
            border-radius: $br $br 0 0;
         }

         &:last-child {
            border-radius: 0 0 $br $br;
         }
      }
   }

   .wrapp {
      padding-left: 78px;
      padding-right: 78px;
   }

   &__dop-options {
      padding-top: 48px;
      padding-bottom: 54px;
   }

   &__container {
      background-color: #F1F1F1;
   }


   // карточка информации
   .item-modal {
      background-color: #fff;
      padding-bottom: 75px;
      padding-top: 50px;

      &__title {
         font-weight: 600;
         border-bottom: 1px solid #D8D8D8;
         display: flex;
         align-items: center;
         padding-top: 40px;
         padding-bottom: 28px;
         letter-spacing: -0.4px;
      }

      &__options li:first-child {
         border-top: 1px solid #d8d8d8;
      }

      &__title-icon {
         height: 29px;
         width: 30px;
         margin-right: 22px;
         text-align: center;
         font-size: 0;
         white-space: nowrap;

         &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
         }

         img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
         }
      }

      .option-item {
         display: flex;
         justify-content: space-between;
         padding: 24px 0;
         border-bottom: 1px solid #D8D8D8;

         &__text {
            max-width: 65%;
         }

         &__text-desc {
            margin-top: 9px;
            font-weight: 400;
         }

         &__value {
            font-size: 20px;
            text-align: right;

            @media (max-width: 1023px) {
               font-size: 15px;
            }
         }

         &__text-name,
         &__text-desc,
         &__value {
            line-height: 24px;
         }

      }


   }

   .download-pdf {
      &__text {
         line-height: 1;
         max-width: 256px;
      }
   }

   &__btn-close {
      position: sticky;
      position: -webkit-sticky;
      z-index: 100;
      top: 0;
      overflow: initial !important;
      pointer-events: auto;
   }

   .modal-close {
      top: 37px;
      right: 72px;
   }


   @media (max-width: 1023px) {
      .wrapp {
         padding-left: 48px;
         padding-right: 48px;
      }

      &__title {
         height: 86px;
      }

      .modal-close {
         top: 27px;
         right: 65px;
      }

   }

   @media (max-width: 767px) {
      .modal-dialog {
         margin: 54px 0;
      }

      .wrapp {
         padding-left: 16px;
         padding-right: 16px;
      }

   }

   @media (max-width: 510px) {
      .modal-dialog {
         padding: 0;
      }

      .modal-close {
         right: 16px;
      }
   }
}