.banner-for-their {
   border-radius: 10px;
   background-color: #F1F1F1;
   border: 1px solid #D8D8D8;
   padding: 26px 32px 33px;
   flex-grow: 1;
   height: fit-content;
   display: flex;
   position: relative;
   min-width: 466px;
   max-width: 535px;

   &__old-price {
      color: #33333380 !important;
      position: relative;
      margin-right: 12px;

      &:before {
         content: '';
         position: absolute;
         left: 0;
         top: 50%;
         height: 2px;
         width: 100%;
         background-color: #ff0000;
      }
   }

   &__text {
   }

   &__text-text {
      width: 198px;
      margin-bottom: 20px;

      span {
         color: var(--mf-blue);
         cursor: pointer;
      }
   }

   &__switch {
      display: inline-flex;
      margin: 0 0 15px;
   }

   .switch-text span {
      color: var(--mf-green);
   }

   &__counter {
      margin-left: 60px;
   }

   &__img {
      position: absolute;
      right: 20px;
      bottom: 0;
      width: 40%;
      max-width: 213px;

      img {
         max-height: 100%;
         max-width: 100%;
      }
   }

   @media (max-width: 1100px) {
      padding: 26px 20px 33px;
   }
   @media (max-width: 840px) {
      display: block;
      padding-bottom: 0;
      width: 100%;
      max-width: 372px;
      min-width: 0;

      &__text-text {
         width: auto;
      }

      &__img {
         position: static;
         width: 129px;
         margin: 10px auto 0;
      }
   }
   @media (max-width: 767px) {
      max-width: none;
   }

}

.no-overpayments {
   display: none;

   h3.no-overpayments__title {
      margin-bottom: 12px;
   }

   &__list-item {
      display: flex;
      border-bottom: 1px solid #EDEDED;
      padding: 15px 0;
      margin-bottom: 7px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__item-name {
      margin-right: auto;
   }

   &__item-desc {
      font-size: 14px;
      line-height: 18px;
      color: #33333380;
      max-width: 345px;
      font-weight: 400;
   }

   &__item-val {
      font-size: 18px;
      line-height: 1;
   }

   @media (max-width: 767px) {
      &__list-item {
         display: block;
      }

      &__item-val {
         margin-top: 5px;
      }
   }
}