<section class="about-tariffs">
   <div class="wrapper">
      <h2>Дополнительная информация:</h2>

      <div id="accordion1" class="accordion">

         <div>
            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-controls="collapse1"
                    aria-expanded="false">
                  Скидка для новых абонентов тарифов «Объединяй!»
               </div>
               <div id="collapse1" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     С 21 августа 2020 г. до 21 августа 2021 г. при подключении и переходе на тарифы линейки Объединяй!,
                     получите скидку 50% на абонентскую плату. <br>
                     — 1 месяц для всех наших клиентов и клиентов Wifire (НэтбайНэт) при переходе на тарифы линейки
                     Объединяй!;<br>
                     — 3 месяца, если вы новый клиент Wifire или новый клиент МегаФона;<br>
                     — 3 месяцев, если вы новый клиент и ранее не пользовались услугами Wifire и МегаФона.
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse2"
                    aria-controls="collapse2"
                    aria-expanded="false">
                  Скидка на тариф «Без переплат. Всё»
               </div>
               <div id="collapse2" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     Подключите своим близким тариф «Без переплат. Всё» со скидкой 40% на абонентскую плату. Для заказа
                     SIM-карт позвоните по номеру 8 800 550-00-01 (максимум 10 SIM-карт). <br>
                     <a class="faq__text-link link" href="#"
                        target="_blank">Скачать подробную информацию о тарифе</a>
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse3"
                    aria-controls="collapse3"
                    aria-expanded="false">
                  Подключение к домашнему интернету
               </div>
               <div id="collapse3" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     Подключение к домашнему интернету осуществляется в удобное для вас время по технологиям Ethernet,
                     Docsis. Наш специалист проведёт все необходимые работы под ключ.
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse4"
                    aria-controls="collapse4"
                    aria-expanded="false">
                  Дополнительное оборудование (Wi-Fi роутер)
               </div>
               <div id="collapse4" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     Вы можете использовать свой роутер, но для стабильности сигнала мы рекомендуем
                     пользоваться роутером FR1000-1 (1 Гбит/с): <br>
                     — 4 внутренние Wi-Fi антенны, которые работают в диапазонах 2,4 ГГц и 5 ГГц;<br>
                     — удобный доступ по USB к вашим фото, видео и музыке;<br>
                     — подключение 3G/4G модема;<br>
                     — автоматическое обновление ПО. <br>
                     <br>
                     Инструкции по настройке Wi-Fi роутеров:
                     <a
                        href="https://moscow.megafon.ru/download/~federal/obedinyaj/router.pdf"
                        class="faq__text-link link"
                        target="_blank">FR1000-1 (1 Гбит/с)</a>
                     и
                     <a
                        href="https://moscow.megafon.ru/download/~federal/obedinyaj/router2.pdf"
                        class="faq__text-link link" target="_blank">FR100-1 (100 Мбит/с)
                     </a>.<br>
                     <br>
                     Если вы хотите взять или вернуть дополнительное оборудование, обратитесь в контактный
                     центр по телефону
                     <a href="tel:0500" class="faq__text-link link">0500</a>.
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse5"
                    aria-controls="collapse5"
                    aria-expanded="false">
                  Функции ТВ-приставки
               </div>
               <div id="collapse5" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     На ТВ-приставке МегаФон ТВ доступны следующие функции: <br>
                     — управление эфиром: бесплатная перемотка, пауза, запись;<br>
                     — родительский контроль, который вы можете активировать в разделе «Детям», чтобы ребёнок
                     смотрел только детский контент;<br>
                     — работа приставки по Wi-Fi: в комплект входит Bluetooth-пульт, для работы которого не требуется
                     прямая видимость. <br>
                     <br>
                     Если вы перешли на тариф из линейки Объединяй! с WifirеTV, вы можете
                     подключить дополнительные пакеты в сервисе «МегаФон ТВ» со скидкой. Пакеты будут
                     выбраны автоматически при составлении заявки на подключение продукта. <br>
                     <br>
                     Наш специалист производит бесплатную настройку МегаФон ТВ на любых устройствах (до 5 устройств
                     на одном номере).
                  </div>
               </div>
            </div>
         </div>

         <div>
            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse8"
                    aria-controls="collapse8"
                    aria-expanded="false">
                  Списание абонентской платы
               </div>
               <div id="collapse8" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     По тарифу <br>
                     При подключении тарифа на вашем счёте должна быть сумма,
                     достаточная для списания абонентской платы за месяц и дополнительных услуг,
                     указанных в заявке. <br>
                     <br>
                     В день перехода на тариф списывается полная сумма абонентской
                     платы, далее списания происходят раз в месяц в тот же день.<br>
                     <br>
                     Если в день списания у вас недостаточно средств на счёте,
                     абонентская плата не списывается, доступ к цифровому телевидению, мобильному и домашнему
                     интернету будет заблокирован, а все звонки будут оплачиваться поминутно. Когда вы пополните
                     счёт на сумму, достаточную для списания абонентской платы, доступ к услугам
                     будет восстановлен.<br>
                     <br>
                     За дополнительное оборудование<br>
                     Абонентская плата за аренду оборудования для домашнего интернета
                     списывается одновременно с абонентской платой по тарифу.<br>
                     <br>
                     Если в день списания у вас недостаточно средств на счёте,
                     абонентская плата не списывается, доступ к цифровому телевидению, мобильному и домашнему
                     интернету будет заблокирован. Когда вы пополните счёт на сумму, достаточную для
                     списания абонентской платы, доступ к услугам будет восстановлен.<br>
                     <br>
                     При подключении аренды оборудования для домашнего интернета в середине
                     расчётного периода списывается часть абонентской платы по тарифу пропорционально числу
                     дней до следующего списания.
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse9"
                    aria-controls="collapse9"
                    aria-expanded="false">
                  Услуги, входящие в тариф
               </div>
               <div id="collapse9" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     <ul>
                        <li><a href="https://www.megafon.ru/go/sms-balans" target="_blank" class="faq__text-link link">SMS-чек</a>
                        </li>
                        <li><a href="https://www.megafon.ru/go/ya_v_seti" target="_blank" class="faq__text-link link">Я
                           в сети</a>
                        </li>
                        <li><a href="https://www.megafon.ru/go/ja_zv_plus" target="_blank" class="faq__text-link link">Я
                           звонил+</a>
                        </li>
                        <li><a href="https://www.megafon.ru/go/whocalled_plus" target="_blank"
                               class="faq__text-link link">Кто звонил+</a></li>
                        <li><a href="https://www.megafon.ru/go/ozhidanie-vyz" target="_blank"
                               class="faq__text-link link">Ожидание вызова</a></li>
                        <li><a href="https://www.megafon.ru/go/callhold" target="_blank" class="faq__text-link link">Удержание
                           вызова</a></li>
                        <li><a href="https://www.megafon.ru/go/anti" target="_blank" class="faq__text-link link">Разовый
                           АнтиАОН</a></li>
                        <li><a href="https://www.megafon.ru/go/kaleydoskop" target="_blank" class="faq__text-link link">Калейдоскоп</a>
                        </li>
                        <li><a href="https://www.megafon.ru/go/service" target="_blank" class="faq__text-link link">Определитель
                           номера</a></li>
                        <li><a href="https://www.megafon.ru/go/otpusk_bez_zabot" target="_blank"
                               class="faq__text-link link">Отпуск без забот</a></li>
                        <li><a href="https://www.megafon.ru/go/zam-gudok" target="_blank" class="faq__text-link link">Замени
                           Гудок</a></li>
                        <li><a href="https://www.megafon.ru/go/konnekt" target="_blank" class="faq__text-link link">Коннект</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse10"
                    aria-controls="collapse10"
                    aria-expanded="false">
                  Услуги, доступные для подключения
               </div>
               <div id="collapse10" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     <ul>
                        <li><a href="http://www.megafon.ru/go/kaspersky" target="_blank" class="faq__text-link link">Антивирусы
                           Kaspersky</a></li>
                        <li><a href="http://www.megafon.ru/go/eset_all" target="_blank" class="faq__text-link link">Антивирусы
                           ESET</a></li>
                        <li><a href="https://www.megafon.ru/go/kasp_kids" target="_blank" class="faq__text-link link">Родительский
                           контроль Kaspersky Safe Kids</a></li>
                        <li><a href="http://www.megafon.ru/go/static_ip" target="_blank" class="faq__text-link link">Статический
                           IP</a></li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse11"
                    aria-controls="collapse11"
                    aria-expanded="false">
                  Переход из Нэт Бай Нэт Холдинг
               </div>
               <div id="collapse11" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     Для действующих абонентов ООО «Нэт Бай Нэт Холдинг» с подключённой
                     услугой домашнего телевидения доступны следующие способы перехода в МегаФон: <br>
                     — при использовании ТВ-приставки старого поколения потребуется замена
                     оборудования в рамках бесплатного выезда монтажника;<br>
                     — при использовании ТВ-приставки нового поколения потребуется обновление ПО,
                     которое произойдёт автоматически при активации тарифа из линейки
                     <a href="#" class="faq__text-link link">Объединяй!</a><br>
                     <br>
                     При переходе будут доступны ТВ-пакеты в сервисе «МегаФон ТВ»
                     со скидкой. Пакеты будут выбраны автоматически при составлении заявки на подключение
                     продукта.<br>
                     <br>
                     Более подробная информация по настройке ТВ-приставки в
                     <a class="faq__text-link link"
                        href="https://moscow.megafon.ru/download/~federal/obedinyaj/pristavka.pdf"
                        target="_blank">файле</a> .
                     Управлять дополнительными ТВ-каналами вы можете на сайте
                     и в приложении МегаФон ТВ. Если вы хотите взять или вернуть дополнительное
                     оборудование, обратитесь в контактный центр по телефону
                     <a href="tel:0500" class="faq__text-link link">0500</a>.
                  </div>
               </div>
            </div>

            <div class="accordion__item">
               <div class="accordion__header collapsed"
                    data-toggle="collapse"
                    data-target="#collapse12"
                    aria-controls="collapse12"
                    aria-expanded="false">
                  Подробная информация о тарифах
               </div>
               <div id="collapse12" class="collapse" data-parent="#accordion1">
                  <div class="card-body">
                     <ul class="faq__text">
                        <li>— <a target="_blank" href="#"
                                 class=" faq__text-link link">Скачать подробную информацию о тарифе «Объединяй! Два
                           интернета»</a> (PDF)
                        </li>
                        <li>— <a target="_blank" href="#"
                                 class=" faq__text-link link">Скачать подробную информацию о тарифе «Объединяй!
                           Эконом»</a> (PDF)
                        </li>
                        <li>— <a target="_blank" href="#"
                                 class=" faq__text-link link">Скачать подробную информацию о тарифе «Объединяй!
                           хит»</a> (PDF)
                        </li>
                        <li>— <a target="_blank" href="#"
                                 class=" faq__text-link link">Скачать подробную информацию о тарифе «Объединяй! Для
                           своих»</a> (PDF)
                        </li>
                        <li>— <a target="_blank" href="#"
                                 class=" faq__text-link link">Скачать подробную информацию о тарифе «Объединяй!
                           Везде»</a> (PDF)
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>
