<section class="amediateka">
   <div class="amediateka__header">
      <div class="wrapper">
         <img src="./img/svg/amediateka_head.svg" alt="img">
         <p>Подписка для новых клиентов без дополнительной платы</p>
      </div>
   </div>
   <div class="amediateka__content">
      <div class="amediateka__content_item">
         <img src="img/pic/amed1.png" alt="img"/>
      </div>
      <div class="amediateka__content_item">
         <img src="img/pic/amed2.png" alt="img"/>
      </div>
      <div class="amediateka__content_item">
         <img src="img/pic/amed3.png" alt="img"/>
      </div>
      <div class="amediateka__content_item">
         <img src="img/pic/amed4.png" alt="img"/>
      </div>
      <div class="amediateka__content_item">
         <img src="img/pic/amed5.png" alt="img"/>
      </div>
   </div>
   <div class="amediateka__footer">
      <div class="wrapper">
         <p>
            С 21.08.2020 по 30.11.2020 впервые подключившиеся на тарифы Объединяй! Эконом, Объединяй! Хит или
            Объединяй!
            Для своих получат подписку AMEDIATEKA (18+)
            на 2 месяца для просмотра фильмов и сериалов на приставках STB, Android TV и Smart TV в приложении
            Мегафон
            ТВ. Воспользоваться предложением возможно
            до 30 ноября 2020 года. После окончания действия промо периода подписка отключается автоматически. Акция
            может быть завершена досрочно. 18+
         </p>
         <a data-toggle="modal" data-target="#order" class="btn btn-fiolet">Заказать</a>
         <div class="amediateka__footer_copyright">
            <span>18+</span>
            <span>© 2019 Home Box Office, inc. HBO® все права защищены.</span>
         </div>
      </div>
   </div>
</section>