.app {
   position: relative;
   min-height: 200px;
   color: #fff;

   &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;
      background-color: var(--mf-green);
      z-index: -1;
   }

   &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;
      background-color: var(--mf-fiolet);
      z-index: -1;
   }

   .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .app-title {
         display: none;
         width: 100%;
         padding-top: 78px;
      }
   }

   &__green {
      padding: 93px 0 113px;
      width: calc(50% - 135px);

      h2 {
         margin-bottom: 41px;
         max-width: 400px;
      }

      .app-item {
         display: flex;
         align-items: center;
         margin-bottom: 37px;

         &:last-child {
            margin-bottom: 0;
         }

         &__icon {
            width: 56px;
            height: 56px;
            margin-right: 20px;
            border-radius: 50%;
            flex-shrink: 0;

            &_mess {
               background: #fff url('../img/svg/mess.svg') center / 28px no-repeat;
            }

            &_support-ava {
               background: #fff url('../img/svg/Support-avatar_32.svg') center / 32px no-repeat;
            }

            &_balance {
               background: #fff url('../img/svg/Balance_32.svg') center / 28px no-repeat;
            }
         }

         &__text {
            p {
               font-size: 20px;
               line-height: 28px;
               margin-bottom: 3px;
            }

            span {
               font-size: 15px;
               line-height: 20px;
            }
         }
      }
   }

   &__iphone {
      left: calc(50% - 135px);

      img {
         width: 270px;
      }
   }

   &__fiolet {
      width: calc(50% - 135px);
      padding-left: 7%;

      .app__iphone {
         display: none;
      }

      p {
         font-size: 15px;
         line-height: 20px;
         margin-bottom: 60px;
         max-width: 402px;
      }

      .app-apps {
         a {
            max-width: 176px;
            display: inline-block;

            &:first-child {
               margin-right: 15px;
               margin-bottom: 17px;
            }

            img {
               width: 100%;
            }
         }
      }
   }

   @media (min-width: 1024px) and (max-width: 1150px) {

      .wrapper {
         flex-wrap: wrap;
         align-items: flex-start;
         padding-bottom: 58px;

         .app-title {
            display: block;

            h2 {
               width: 400px;
            }
         }
      }

      &__green {
         width: calc(50% - 115px);
         padding-top: 52px;
         padding-bottom: 0;

         h2 {
            display: none;
         }

         .app-item {
            align-items: flex-start;
         }
      }

      &__iphone {
         left: calc(50% - 115px);

         img {
            width: 230px;
         }
      }

      &__fiolet {
         width: calc(50% - 115px);
         padding-top: 55px;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      &:before,
      &:after {
         display: none;
      }

      .wrapper {
         padding: 0;
         flex-wrap: wrap;
      }

      h2 {
         font-size: 28px;
         margin-bottom: 50px;
         max-width: none;
      }

      &__green {
         background-color: var(--mf-green);
         width: 100%;
         padding: 60px 30px 82px;

         .app-item {
            align-items: flex-start;
            margin-bottom: 46px;
         }
      }

      &__iphone {
         display: none;

      }

      &__fiolet {
         width: 100%;
         background-color: var(--mf-fiolet);
         padding: 88px 330px 50px 30px;
         min-height: 440px;

         .app__iphone {
            display: block;
            width: 274px;
            margin-top: -255px;
            position: absolute;
            right: 30px;
            left: auto;
         }

         p {
            max-width: none;
         }
      }
   }

   @media (max-width: 767px) {
      &:before,
      &:after {
         display: none;
      }

      .wrapper {
         padding: 0;
         flex-wrap: wrap;
      }

      h2 {
         font-size: 28px;
         margin-bottom: 50px;
      }

      &__green {
         background-color: var(--mf-green);
         width: 100%;
         padding: 60px 30px 300px;

         .app-item {
            align-items: flex-start;
            margin-bottom: 46px;
         }
      }

      &__iphone {
         width: 100%;
         text-align: center;
         margin-top: -279px;
         position: relative;
         left: auto;
      }

      &__fiolet {
         width: 100%;
         background-color: var(--mf-fiolet);
         margin-top: -279px;
         padding: 279px 30px 111px;

         p {
            max-width: none;
         }

         .app-apps {
            a {
               width: calc(50% - 10px);
               margin: 0 !important;
               max-width: none;

               &:last-child {
                  float: right;
               }
            }
         }
      }
   }
}