<section class="head-banner">
   <div class="wrapper">
      <header class="header">
         <div class="wrapper">
            <div class="header__logo">
               <a href="/"></a>
            </div>
            <div class="header__phone">
               <a href="tel:8 800 55-00-001">8 800 55-00-001</a>
            </div>
            <div class="header__city" data-toggle="modal"
                 data-target="#citySelection">
               <span>Москва и область</span>
            </div>
         </div>
      </header>
      <div class="section-row">
         <div class="head-banner__col1">
            <h1>Тарифы «Объединяй!» <br> со скидкой до 50%</h1>
            <p>Домашний интернет, мобильная связь и ТВ вместе дешевле</p>
            <a onclick="toPlug('.tariffs')" class="btn btn-fiolet">Подключить</a>
         </div>
         <div class="head-banner__img-wrapp">
            <picture>
               <img class="head-banner__img" src="img/pic/pic_o.png" alt="img"/>
            </picture>
         </div>
      </div>
   </div>
</section>