.modal {
   .modal-dialog {
      width: 100%;
      max-width: 1088px;
   }

   .modal-content {
      padding: 81px 125px 131px;
      border-radius: 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      border: 0;

      h2 {
         margin-bottom: 40px;
      }

      h3 {
         margin-bottom: 33px;
      }

      .modal-order {
         display: flex;
         align-items: center;

         .btn {
            margin-right: 38px;
         }

         &__text {
            p {
               font-size: 20px;
               line-height: 28px;
               margin-bottom: 0;
               font-weight: 500;
            }

            a {
               font-size: 15px;
               line-height: 20px;
               font-weight: 400;
            }

         }

      }

   }

   .modal-close {
      width: 20px;
      height: 20px;
      background: url('../img/svg/close.svg') center / contain no-repeat;
      position: absolute;
      top: 23px;
      right: 23px;
   }

   @media (min-width: 1024px) and (max-width: 1100px) {
      background-color: #fff;

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }

      .modal-wrapper {
         position: relative;
      }

      .modal-content {
         min-height: 100vh;
         padding: 60px 112px;
         width: 100%;
         height: 100%;
         justify-content: center;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      background-color: #fff;

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }

      .modal-wrapper {
         position: relative;
      }

      .modal-content {
         min-height: 100vh;
         padding: 0 30px;
         width: 100%;
         height: 100%;
         justify-content: center;
      }
   }

   @media (max-width: 767px) {
      background-color: #fff;

      .modal-dialog {
         width: 100%;
         margin: 0;
         max-width: none;
      }

      .modal-wrapper {
         position: relative;
         display: flex;
         flex-direction: column;
      }

      .modal-content {
         min-height: 100vh;
         padding: 95px 30px 80px;
         width: 100%;
         height: 100%;
         justify-content: center;
      }

      .modal-order {
         order: 1;
         flex-wrap: wrap;

         &__text {
            width: 100%;
            margin-bottom: 30px;
         }

         .btn {
            order: 1;
         }
      }

   }
}

.performance {

   .modal-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__text {
      width: 41%;

      ul {
         margin-bottom: 60px;
         padding-left: 16px;

         li {
            position: relative;
         }

         li:before {
            content: '—';
            position: absolute;
            left: -16px;
         }
      }
   }

   &__img {
      width: 50%;
      max-height: 450px;
      font-size: 0;
      white-space: nowrap;

      &:before {
         content: '';
         display: inline-block;
         height: 100%;
         vertical-align: middle;
      }

      img {
         max-width: 100%;
         max-height: 100%;
         vertical-align: middle;
      }
   }

   @media (max-width: 767px) {
      &__img,
      &__text{
         width: 100%;
      }

      &__img {
         margin-bottom: 40px;
      }
   }

}

#performanceUnite.performance {
   .performance__img {
      max-height: 340px;
      width: auto;
      text-align: center;
   }

   @media (max-width: 1023px) and (min-width: 768px) {
      .modal-order {
         margin-top: 20px;
      }
   }

   @media (max-width: 767px) {
      .performance__img {
         height: 313px;
         margin-bottom: 35px;
      }

      h2 {
         font-size: 28px;
         line-height: 36px;
         margin-bottom: 33px;
      }

      h3 {
         margin-bottom: 26px;
      }

      .performance__text ul {
         margin-bottom: 25px;
      }
   }
}

.city-selection {
   .modal-dialog {
   }

   .modal-content {
      padding: 60px 115px 60px 138px;
      border-radius: 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      width: 100%;
      height: 820px;
   }

   .header-city {
      padding-bottom: 30px;
      border-bottom: 1px solid #D8D8D8;

      &__title {
         font-size: 18px;
         margin-bottom: 8px;
      }

      input {
         max-width: 480px;
         width: 100%;
         margin-bottom: 21px;
      }

      &__auto {
         font-size: 12px;
         font-weight: 400;

         span {
            color: var(--mf-blue);
            cursor: pointer;
            margin-left: 7px;
            font-weight: 500;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }

   .city-selection-wrapper {
      overflow: auto;
      padding-right: 15px;


      // firefox
      scrollbar-color: #DDDDDD #EDEDED; /* «цвет ползунка» «цвет полосы скроллбара»*/
      scrollbar-width: thin; /* толщина */

      &::-webkit-scrollbar {
         width: 6px; /* ширина для вертикального скролла */
         background-color: #EDEDED;
         margin-right: -15px;
         position: absolute;
         right: 0;
      }

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb {
         background-color: #DDDDDD;
         height: 350px;
         width: 6px;
         margin-right: -15px;
      }

      &::-webkit-scrollbar-thumb:hover {
         background-color: #333333;
      }
   }

   .select-region {
      padding: 30px 0 0;
      column-count: 3;

      a {
         display: block;
         font-size: 15px;
         font-weight: 500;
         margin-bottom: 15px;
      }

      &__region-title {
         margin-bottom: 12px;
      }

      &__top,
      &__regions-group {
         margin-bottom: 35px;
      }
   }

   @media (max-width: 1024px) {
      .modal-content {
         padding: 60px 30px !important;
      }
   }

   @media (max-width: 767px) {
      .select-region {
         padding: 30px 0 0;
         column-count: 1;
      }

      .city-selection-wrapper {
         padding-right: 0;
      }

      .header-city__auto span {
         display: block;
         margin-left: 0;
      }

   }
}

.tariff-modal {
   font-size: 15px;
   line-height: 20px;
   font-weight: 500;

   .modal-content {
      padding: 81px 125px 73px;
   }

   .modal-content h2 {
      margin-bottom: 30px;
   }

   &__info {
      display: flex;
      margin-bottom: 12px;
   }

   &__info-wrapper {
      display: flex;
      margin-right: 81px;
   }

   &__info-col {
      &_1 {
         margin-right: 98px;
      }

      &_2 {
         max-width: 150px;
         margin-right: 85px;
      }

      &_3 {
         max-width: 350px;
      }
   }

   &__info-title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 27px;
      display: flex;
      align-items: center;

      img {
         margin-right: 12px;
      }
   }

   &__param-title {
      color: #33333380;
   }

   &__info-param {
      margin-bottom: 15px;

      p {
         font-size: 18px;
         font-weight: 500;
      }
   }

   &__param-packets {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
   }

   &__options {

      h3 {
         margin-bottom: 29px !important;
      }

      .options-row {
         display: flex;
         flex-wrap: wrap;
         margin-bottom: 15px;

         &__item {
            display: flex;
            line-height: 20px;
            font-weight: 500;
            font-size: 15px;
            margin-right: 58px;
            margin-bottom: 20px;

            &:last-child {
               margin-right: 0;
            }

            .switch {
               margin-right: 18px;
            }

            span {
               color: var(--mf-green);
            }

            .item-option__img {
               padding-top: 3px;
               flex-shrink: 0;
               margin-right: 15px;
            }
         }
      }
   }

   .download-pdf {
      display: flex;
      align-items: center;

      &__icon {
         margin-right: 15px;
         display: inline-block;
      }

      &__text {
         a, span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
         }

         a {
            margin-right: 5px;
         }

         span {
            color: #333333;
         }
      }
   }

   .price-tariff {
      display: flex;

      &__title {
         margin-right: 11%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;

         p {
            font-size: 20px;
         }

         span {
            font-size: 12px;
            font-weight: 400;
         }
      }

      .price {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         margin-right: 7%;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      &__info-wrapper {
         display: block;
      }

      &__info-col_1 {
         margin-bottom: 40px;
      }

      &__info {
         margin-bottom: 60px;
      }
   }

   @media (max-width: 767px) {

      &__info {
         flex-wrap: wrap;

         &-col_3 {
            width: 100%;
         }
      }

      &__info-wrapper {
         display: block;
      }

      &__info-col {
         &_1, &_2 {
            margin-bottom: 40px;
         }
      }

      &__info {
         margin-bottom: 30px;
      }

      .options-row {
         flex-wrap: wrap;

         &__item {
            width: 100%;
         }

         &__item:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      .price-tariff {
         flex-wrap: wrap;

         &__title, .price {
            width: 100%;
         }

         &__title {
            margin-bottom: 20px;
         }

         .price {
            margin-bottom: 10px;
         }
      }
   }
}

.tariff-two-web {
   .download-pdf {
      margin-bottom: 0;
   }

   &__options {
      margin-bottom: 50px;
   }

   .item-option {
      &:nth-child(2) {
         margin-right: 17%;
      }
   }

   .options-row {
      flex-wrap: wrap;
   }

   @media (max-width: 1023px) {
      .options-row {
         > div:nth-child(3) {
            width: 100%;
         }
      }
   }
}

.order-modal {
   button.btn {
      width: 170px;
      justify-content: center;
   }

   .modal-content {
      min-height: 410px;

      h2 {
         margin-bottom: 15px;
      }
   }

   .modal-dialog {
      max-width: 812px;
   }

   &__inputs {
      display: flex;
      margin-bottom: 30px;
   }

   &__input {
      margin-right: 20px;

      &-title {
         font-size: 15px;
         font-weight: 500;
         margin-bottom: 10px;
      }

      input {
         width: 230px;
      }
   }

   .order-modal__input_address {
      max-width: 480px;
      margin-bottom: 40px;

      input {
         width: 100%;
      }
   }

   &__select-date {
      margin-bottom: 14px;

      span {
         font-size: 15px;
         font-weight: 400;
         border-bottom: 1px dashed;
         cursor: pointer;

         &:hover {
            border-style: solid;
         }
      }
   }

   .order-opportunity {
      display: none;

      h2 {
         margin-bottom: 14px;
      }

      &__offer {
         display: none;
         margin-top: 50px;
         margin-bottom: -10px;
      }

      .order-modal__inputs {
         margin-bottom: 40px;
         flex-wrap: wrap;

         input {
            width: 480px;
            margin-right: 0;
         }

         label {
            display: none;
         }

         input.valid {
            border: 1px solid var(--mf-green);
            background: url('../img/svg/check.svg') calc(100% - 20px) 50% / 15px no-repeat;

            + label {
               display: block;
               color: var(--mf-green);
            }
         }

         input.error {
            border: 1px solid #F62434;
            background: none;

            + label + label {
               display: block;
               color: #F62434;
            }
         }
      }

      #btnFormCheck {
         display: none;
      }
   }

   .order-date {
      display: none;

      .order-modal__input {
         display: flex;
         align-items: center;
      }

      h2 {
         margin-bottom: 5px;
      }

      h2 + p {
         font-size: 15px;
         font-weight: 400;
         margin-bottom: 25px;
      }

      input.datepicker {
         margin-right: 20px;
         font-size: 15px;
         font-weight: 500;
         color: #333333;
         cursor: pointer;
      }

      .tail-select {
         height: 50px;
         font-size: 15px;
         font-weight: 500;
         font-family: 'MegaFon Graphik LC', sans-serif;

         .select-label {
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 0;
            background: url('../img/svg/arrow-select.svg') calc(100% - 20px) 50% / 12px no-repeat;
            border: 1px solid #ddd;

            &:hover {
               border: 1px solid #ddd;
            }

            .label-inner {
               height: 100%;
               line-height: 48px;
               padding: 0 0 0 26px;
            }
         }

         &.active .select-label {
            border: 1px solid #ddd;
            box-shadow: none;
         }

         .dropdown-inner {
            max-height: none !important;
         }

         .select-dropdown {
            margin-top: 10px;
            border-radius: 0;
            box-shadow: none;
         }

         .dropdown-optgroup {
            padding: 0 20px;
         }

         .dropdown-option:first-child:before {
            display: none;
         }

         .dropdown-option:not(:first-child) {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;

            &.selected {
               color: var(--mf-green);
               font-weight: 500;

               &:before {
                  right: 0;
                  left: auto;
                  height: 100%;
                  background: url('../img/svg/check.svg') center / 15px no-repeat;
               }
            }

            &:last-child {
               border-bottom: 0;
            }
         }
      }
   }

   .order-thx {
      display: none;
      min-height: auto;
      width: auto;
      margin: 0 auto;
      padding: 70px 114px;
      text-align: center;

      h2 {
         margin-bottom: 2px;
      }

      p {
         font-size: 15px;
         font-weight: 400;
      }
   }

   @media (min-width: 1024px) and (max-width: 1100px) {
      .modal-content {
         padding: 60px 275px !important;
      }

      &__input {
         width: 50%;

         input {
            width: 100%;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;

            input, .tail-select {
               width: 50% !important;
            }
         }
      }

   }

   @media (min-width: 768px) and (max-width: 1023px) {
      .modal-content {
         padding: 60px 122px !important;
      }

      &__input {
         width: 50%;

         input {
            width: 100%;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-opportunity .order-modal__input {
         width: 100%;

         input {
            width: 100%;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;

            input, .tail-select {
               width: 50% !important;
            }
         }
      }
   }

   @media (max-width: 767px) {
      &__inputs {
         flex-wrap: wrap;
      }

      &__input {
         width: 100%;

         input {
            width: 100%;
         }

         &:first-child {
            margin: 0 0 20px;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-opportunity .order-modal__input {
         width: 100%;

         input {
            width: 100%;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;
            flex-wrap: wrap;

            input, .tail-select {
               width: 100% !important;
            }

            input {
               margin: 0 0 20px;
            }
         }
      }
   }
}