<section class="unite unite-check-address">
   <div class="wrapper">
      <div class="unite-address">
         <p class="unite-address__title">Проверьте возможность подключения в вашем городе</p>
         <form name="address" class="unite-address__input">
            <input onkeyup="validAddress('', event)" type="text" name="address" placeholder="Ваш адрес">
            <button type="submit" class="btn btn-fiolet">Проверить</button>
         </form>
         <p class="unite-address__offer">
            К сожалению, мы пока не можем подключить ваш дом к домашнему интернету. <br>
            Но по адресу <b>адрес</b> доступно <span onclick="toPlug('#unite')" class="underline">специальное предложение</span> на беспроводной интернет:
         </p>
         <div class="success-check">
            <img src="img/svg/success.svg" alt="img">
            <p>Подключение по адресу <b>адрес</b> возможно!</p>
         </div>
      </div>
   </div>
   <div class="unite" id="unite">
      <div class="wrapper">
         <div class="unite-row">
            <div>
               <div class="unite__to-plug">
                  <h2>Мобильная связь, домашний интернет и ТВ на 4G+ скоростях со скидкой 40%</h2>
                  <p>
                     Пользуйтесь самым быстрым интернетом дома, даже когда недоступен проводной интернет. Берите роутер
                     с собой и пользуйтесь Wi-Fi дома, на даче или у друзей.
                  </p>
               </div>

               <div class="unite__unite">

                  <h2>Объединяй! Везде</h2>
                  <div class="unite-info-row">
                     <div class="unite-info">
                        <p class="unite-info__title">Беспроводной интернет и ТВ</p>
                        <div class="unite-info__desc">
                           <div class="unite-info__desc_icon">
                              <img src="./img/svg/wi-fi.svg" alt="img">
                           </div>
                           150 Мбит/с
                        </div>
                        <div class="unite-info__desc desk-channels">
                           <div class="unite-info__desc_icon">
                              <img src="./img/svg/tv.svg" alt="img">
                           </div>
                           <a href="#">61 каналов</a>
                        </div>
                     </div>
                     <div class="unite-info">
                        <p class="unite-info__title">Мобильная связь</p>
                        <div class="unite-info__desc desk-mobile">
                           <div class="unite-info__desc_icon">
                              <img src="./img/svg/mobile.svg" alt="img">
                           </div>
                           <div>
                              <p>1100 минут</p>
                              <p>Безлимит на МегаФон России</p>
                           </div>
                        </div>
                        <div class="unite-info__desc">
                           <div class="unite-info__desc_icon">
                              <img src="./img/svg/4g.svg" alt="img">
                           </div>
                           Безлимитный интернет
                        </div>
                        <div class="unite-info__desc">
                           <div class="unite-info__desc_icon">
                              <img src="./img/svg/bonus.svg" alt="img">
                           </div>
                           Скидка 40% на SIM-карты
                        </div>
                     </div>
                  </div>

                  <div class="unite-checkbox">
                     <div class="unite-checkbox__hire">
                        <label>
                           <div class="switch">
                              <input checked onchange="totalPrice('#unite', 0)" type="checkbox">
                              <span class="round"></span>
                           </div>
                           <div class="switch-text">
                              <p>Аренда 4G Wi-Fi роутера</p>
                              <span class="item-option__num">100</span> <span>₽ в месяц</span>
                           </div>
                        </label>
                     </div>
                  </div>

                  <div class="unite__links">
                     <a href="#">Скачать подробную информацию</a>
                     <span data-target="#performanceUnite" data-toggle="modal">Технические характеристики</span>
                  </div>

                  <div class="unite-order">
                     <div data-toggle="modal" data-target="#order" class="btn">Заказать</div>
                     <div class="price">
                        <span class="old-price">1600 ₽</span>
                        <span class="new-price">1060</span> <span>₽</span>
                        <span>в месяц</span>
                     </div>
                  </div>
               </div>
            </div>
            <img class="unite__img" src="img/pic/router_info_2x.png" alt="router">
         </div>
      </div>
   </div>
</section>