<div class="tabs" id="tabs">
   <ul class="tabs__container">
      <li class="tabs__item active" id="tab-all">
         <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
               d="M16.9937 4.5C14.6203 4.5 12.3002 5.20379 10.3268 6.52236C8.35343 7.84094 6.81535 9.71509 5.9071 11.9078C4.99885 14.1005 4.76121 16.5133 5.22423 18.8411C5.68726 21.1689 6.83015 23.3071 8.50838 24.9853C10.1866 26.6635 12.3248 27.8064 14.6526 28.2694C16.9803 28.7324 19.3931 28.4948 21.5859 27.5866C23.7786 26.6783 25.6527 25.1402 26.9713 23.1668C28.2899 21.1935 28.9937 18.8734 28.9937 16.5C28.9937 13.3174 27.7294 10.2652 25.4789 8.01472C23.2285 5.76428 20.1763 4.5 16.9937 4.5ZM13.9937 26.04C11.7141 25.3236 9.76634 23.8146 8.50318 21.7863C7.24002 19.7579 6.74492 17.3443 7.10754 14.9825C7.47016 12.6206 8.66651 10.4667 10.48 8.91072C12.2935 7.35473 14.6041 6.49954 16.9937 6.5V15.5H13.9937V26.04ZM16.9937 26.5C16.6537 26.5 16.3237 26.5 15.9937 26.45V17.5H18.9937V6.7C21.424 7.19349 23.5842 8.5724 25.055 10.5691C26.5259 12.5657 27.2023 15.0376 26.9531 17.505C26.7039 19.9723 25.5467 22.2591 23.7063 23.9213C21.8659 25.5834 19.4736 26.5025 16.9937 26.5Z"
               fill="#333333"/>
            <path
               d="M17.9937 21.5C18.5459 21.5 18.9937 21.0523 18.9937 20.5C18.9937 19.9477 18.5459 19.5 17.9937 19.5C17.4414 19.5 16.9937 19.9477 16.9937 20.5C16.9937 21.0523 17.4414 21.5 17.9937 21.5Z"
               fill="#333333"/>
            <path
               d="M20.9937 21.5C21.5459 21.5 21.9937 21.0523 21.9937 20.5C21.9937 19.9477 21.5459 19.5 20.9937 19.5C20.4414 19.5 19.9937 19.9477 19.9937 20.5C19.9937 21.0523 20.4414 21.5 20.9937 21.5Z"
               fill="#333333"/>
            <path
               d="M23.9937 21.5C24.5459 21.5 24.9937 21.0523 24.9937 20.5C24.9937 19.9477 24.5459 19.5 23.9937 19.5C23.4414 19.5 22.9937 19.9477 22.9937 20.5C22.9937 21.0523 23.4414 21.5 23.9937 21.5Z"
               fill="#333333"/>
            <path
               d="M12.9937 12.5C13.5459 12.5 13.9937 12.0523 13.9937 11.5C13.9937 10.9477 13.5459 10.5 12.9937 10.5C12.4414 10.5 11.9937 10.9477 11.9937 11.5C11.9937 12.0523 12.4414 12.5 12.9937 12.5Z"
               fill="#333333"/>
         </svg>
         Все тарифы
      </li>
      <li class="tabs__item" id="tab-Объединяй!">
         <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
               d="M18.9937 25.5H7.59365C6.15771 25.5 4.99365 24.3359 4.99365 22.9V15.1C4.99365 13.664 6.15771 12.5 7.59365 12.5H21.4884V12.5021C21.5233 12.5007 21.5584 12.5 21.5937 12.5H26.3937C27.8296 12.5 28.9937 13.664 28.9937 15.1V25.9C28.9937 27.3359 27.8296 28.5 26.3937 28.5H21.5937C20.1577 28.5 18.9937 27.3359 18.9937 25.9V25.5ZM19.0632 14.5H7.59365C7.26228 14.5 6.99365 14.7686 6.99365 15.1V22.9C6.99365 23.2314 7.26228 23.5 7.59365 23.5H18.9937V15.1C18.9937 14.8935 19.0177 14.6926 19.0632 14.5ZM26.9937 25.9V15.1C26.9937 14.7686 26.725 14.5 26.3937 14.5H21.5937C21.2623 14.5 20.9937 14.7686 20.9937 15.1V25.9C20.9937 26.2314 21.2623 26.5 21.5937 26.5H26.3937C26.725 26.5 26.9937 26.2314 26.9937 25.9ZM23.9937 26.1C23.5518 26.1 23.1937 25.7418 23.1937 25.3C23.1937 24.8582 23.5518 24.5 23.9937 24.5C24.4355 24.5 24.7937 24.8582 24.7937 25.3C24.7937 25.7418 24.4355 26.1 23.9937 26.1ZM11.9937 28.5V26.5H17.9937V28.5H11.9937ZM15.4197 11.3C14.9779 11.3 14.6197 10.9418 14.6197 10.5C14.6197 10.0582 14.9779 9.69999 15.4197 9.69999C15.8615 9.69999 16.2197 10.0582 16.2197 10.5C16.2197 10.9418 15.8615 11.3 15.4197 11.3ZM18.4079 7.93406L16.9937 9.34827C16.1345 8.48912 14.7415 8.48912 13.8824 9.34827L12.4682 7.93406C14.1084 6.29386 16.7677 6.29386 18.4079 7.93406ZM20.6706 5.67132L19.2564 7.08553C17.1476 4.9767 13.7285 4.9767 11.6196 7.08553L10.2054 5.67132C13.0953 2.78144 17.7807 2.78144 20.6706 5.67132Z"
               fill="black"/>
         </svg>
         Домашний интернет, ТВ и связь
      </li>
      <li class="tabs__item" id="tab-#ДляДома">
         <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
               d="M6.57365 23.5H15.4937V26.5H11.4937V28.5H21.4937V26.5H17.4937V23.5H26.4137C27.2288 23.5 28.0107 23.1769 28.588 22.6014C29.1653 22.026 29.491 21.2451 29.4937 20.43V7.57C29.491 6.75487 29.1653 5.97402 28.588 5.39857C28.0107 4.82312 27.2288 4.5 26.4137 4.5H6.57365C5.75852 4.5 4.97662 4.82312 4.39929 5.39857C3.82197 5.97402 3.4963 6.75487 3.49365 7.57V20.43C3.4963 21.2451 3.82197 22.026 4.39929 22.6014C4.97662 23.1769 5.75852 23.5 6.57365 23.5ZM5.49365 7.57C5.49629 7.2853 5.61124 7.01316 5.81349 6.81278C6.01575 6.6124 6.28894 6.49999 6.57365 6.5H26.4137C26.6984 6.49999 26.9716 6.6124 27.1738 6.81278C27.3761 7.01316 27.491 7.2853 27.4937 7.57V20.43C27.491 20.7147 27.3761 20.9868 27.1738 21.1872C26.9716 21.3876 26.6984 21.5 26.4137 21.5H6.57365C6.28894 21.5 6.01575 21.3876 5.81349 21.1872C5.61124 20.9868 5.49629 20.7147 5.49365 20.43V7.57Z"
               fill="#333333"/>
            <path
               d="M11.4536 15.5C12.2821 15.5 12.9536 14.8284 12.9536 14C12.9536 13.1716 12.2821 12.5 11.4536 12.5C10.6252 12.5 9.95364 13.1716 9.95364 14C9.95364 14.8284 10.6252 15.5 11.4536 15.5Z"
               fill="#333333"/>
            <path
               d="M16.4536 15.5C17.2821 15.5 17.9536 14.8284 17.9536 14C17.9536 13.1716 17.2821 12.5 16.4536 12.5C15.6252 12.5 14.9536 13.1716 14.9536 14C14.9536 14.8284 15.6252 15.5 16.4536 15.5Z"
               fill="#333333"/>
            <path
               d="M21.4536 15.5C22.2821 15.5 22.9536 14.8284 22.9536 14C22.9536 13.1716 22.2821 12.5 21.4536 12.5C20.6252 12.5 19.9536 13.1716 19.9536 14C19.9536 14.8284 20.6252 15.5 21.4536 15.5Z"
               fill="#333333"/>
         </svg>
         Домашни интернет и ТВ
      </li>
   </ul>
</div>