.head-banner {
   background-color: var(--mf-green);
   overflow: hidden;

   &__text {
      color: #fff;
      max-width: 600px;

      h1 {
         margin-bottom: 15px;
         display: flex;
         flex-direction: column;

         @media (max-width: 1200px) {
            font-size: 44px;
            line-height: 48px;
         }

         @media (max-width: 995px) {
            font-size: 36px;
            line-height: 40px;
         }

         @media (max-width: 415px) {
            nobr {
               white-space: pre-wrap;
            }

         }
      }

      p {
         font-size: 15px;
         line-height: 24px;
         margin-bottom: 45px;
         font-weight: 500;
      }

   }

   &__img-wrapp {
      flex-grow: 1;
      align-self: flex-end;
      white-space: nowrap;
      font-size: 0;
      text-align: center;
      position: relative;

      &:before {
         content: '';
         display: inline-block;
         height: 100%;
         vertical-align: bottom;
      }
   }

   &__img {
      max-width: 475px;
      max-height: 100%;
      vertical-align: bottom;
   }

   .section-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 379px;
      overflow: hidden;
   }

   .btn {
      padding: 0 33px;
   }

   &__col2 {
      height: 375px;
      margin-right: 50px;

      img {
         height: 100%;
      }
   }

   &__btns {
      display: flex;
      align-items: center;
   }

   &__about {
      font-size: 15px;
      line-height: 24px;
      color: #fff;
      margin-left: 35px;
      text-decoration: underline;
      cursor: pointer;
   }


   @media (max-width: 1024px) {

      .section-row {
         margin-right: -30px;
      }

      &__img-wrapp img {
         max-width: 439px;
      }

      &__text {
         margin-right: 0;
      }

      p {
         max-width: 343px;
         margin-bottom: 30px;
      }

   }

   @media (max-width: 920px) {
      .section-row {
         align-items: flex-start;
         justify-content: center;
         height: auto;
         flex-wrap: wrap;
         padding-top: 56px;
         margin-right: 0;
      }

      &__text {
         width: 100%;
         margin-top: 0;
         text-align: center;
         min-width: 0;
         margin-bottom: 31px;

         h1 {
            display: block;
         }

         p {
            max-width: none;
            font-size: 16px;
            line-height: 24px;
         }
      }

      &__img-wrapp {
         max-width: 377px;
         margin: 0 auto;
         padding-left: 20px;
      }

      &__img {
         width: 100%;
      }

      &__sale {
         font-size: 24px;
         line-height: 29px;
         padding: 2px 7px 2px 7px;
         left: 17px;
         top: 18px;

         &:after {
            top: 40px;
            font-size: 19px;
         }
      }

      &__btns {
         justify-content: center;
      }
   }

   @media (max-width: 500px) {
      &__text {

         h1 {
            font-size: 30px;
            line-height: 36px;
         }

         p {
            font-size: 15px;
            padding: 0 20px;
         }
      }

      .section-row {
         padding-top: 33px;
      }

      &__img-wrapp {
         max-width: 308px;
      }
   }

   @media (max-width: 320px) {
      &__text h1 {
         white-space: normal;
      }
   }
}