<section class="app">
   <div class="wrapper">
      <div class="app-title">
         <h2>Мобильное приложение от МегаФон</h2>
      </div>
      <div class="app__green">
         <h2>Мобильное приложение от МегаФон</h2>
         <div class="app-item">
            <div class="app-item__icon app-item__icon_mess"></div>
            <div class="app-item__text">
               <p>Все расходы под контролем</p>
               <span>Информацию по балансу через PUSH и SMS</span>
            </div>
         </div>
         <div class="app-item">
            <div class="app-item__icon app-item__icon_support-ava"></div>
            <div class="app-item__text">
               <p>Бесплатная круглосуточная поддержка</p>
               <span>В любой точке мира мы решим вашу проблему</span>
            </div>
         </div>
         <div class="app-item">
            <div class="app-item__icon app-item__icon_balance"></div>
            <div class="app-item__text">
               <p>Пополнение баланса</p>
               <span>Моментальное зачисление и автоплатеж</span>
            </div>
         </div>
      </div>

      <div class="app__iphone">
         <img src="img/pic/iphone.png" alt="img"/>
      </div>

      <div class="app__fiolet">
         <div class="app__iphone">
            <img src="img/pic/iphone.png" alt="img"/>
         </div>
         <p>
            Приложение «МегаФон» — это бесплатный и удобный способ управлять услугами связи. Проверяйте баланс и
            остатки
            по пакетам, смотрите детализацию расходов, меняйте тариф, подключайте услуги и многое другое. А ещё там
            есть
            персональные предложения и скидки!
         </p>
         <div class="app-apps" data-view="block_mobilelk">
            <a class="apple-store"
               onclick="analytics('appstore_lkmf')"
               href="http://ad.apps.fm/CmXJJleXWl8wHO6z5lRFRPE7og6fuV2oOMeOQdRqrE2giMt1CST6JHLjsPmW8B1TPQTLJ0_zxQMjRvJ4zWm6o4yMz1hlpTU6J588nehXmofLefMARd-nelroDXjymW-mq7_9uImS1BPc0NAmM4peDA">
               <img src="./img/svg/app_store.svg" alt="img">
            </a>
            <a class="google-play"
               onclick="analytics('googleplay_lkmf')"
               href="http://ad.apps.fm/U7mX-mUtZqd9JcuvboFlYF5KLoEjTszcQMJsV6-2VnHFDLXitVHB6BlL95nuoNYftLOWQHDnpygwsCY1AuayncLGmEItNBFcSDrjSCkKtm9KFcZTWeP-On5wW6jQGKGM">
               <img src="./img/svg/google_play.svg" alt="img">
            </a>
         </div>
      </div>
   </div>
</section>