.performance {

   &.hide-price {
      .modal-order {
         visibility: hidden;
         margin-top: -102px;
      }
   }

   .modal-dialog {
      padding: 0 48px;
      max-width: 916px;
   }

   .modal-content {
      border-radius: 10px;
      overflow: hidden;
   }

   &__title {
      margin-bottom: 45px;
      padding-right: 47px;
   }

   &__sale {
      margin-top: -28px;
      margin-bottom: 50px;

      .mark {
         background-color: var(--mf-orange);
         padding: 4px 8px;
      }
   }

   .performance-sale {
      &__mark {
         margin-bottom: 14px;
      }
   }

   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;
   }

   &__text {
      width: 40%;

      h3 {
         line-height: 24px;
         margin-bottom: 28px;
      }

      ul {
         margin-bottom: 25px;

         li {
            margin-bottom: 16px;
            display: flex;
            align-items: center;

            &:last-child {
               margin-bottom: 0;
            }

            > * {
               vertical-align: middle;
            }

            img {
               width: 32px;
               margin-right: 11px;
            }

         }
      }
   }

   &__img {
      width: 268px;
      text-align: center;

      img {
         max-width: 100%;
         max-height: 242px;
      }
   }

   .download-info {
      display: flex;

      &__icon {
         width: 20px;
         margin-right: 17px;
      }

      &__link,
      &__size {
         font-size: 12px;
         line-height: 1;
         font-weight: 400;
      }

      &__size {
         white-space: nowrap;
      }
   }

   .modal-order {
      justify-content: flex-end;
      flex-direction: row-reverse;

      &__text {
         width: auto;
         margin-bottom: 0;
      }

      .btn {
         padding: 0 46px;
         margin-right: 30px;
      }

      @media (max-width: 767px) {
         align-items: center;

         .btn {
            order: 0;
         }
      }

      @media (max-width: 350px) {
         &__text {
            margin-bottom: 20px;
         }
      }
   }

   .modal-close {
      top: 51px;
   }

   sup {
      font-size: 60%;
   }


   @media (max-width: 1023px) {

      .modal-content {
         padding: 47px 48px 54px;
      }

      &__text {
         width: 187px;
      }

      &__img {
         min-width: 268px;
         max-width: 292px;
      }
   }

   @media (max-width: 677px) {
      .modal-dialog {
         padding: 0;
         margin: 0;
      }

      .modal-content {
         padding: 47px 16px 54px;
      }

      &__container {
         margin-bottom: 57px;
      }

      &__title {
         //margin-bottom: 20px;
      }

      &__sale {
         margin-bottom: 49px;
      }

      .performance-sale {
         &__text {
            width: 90%;
         }
      }

      &__text {
         width: 100%;
         min-width: 0;
         margin-bottom: 50px;

         h3 {
            font-size: 18px;
            margin-bottom: 29px;
         }
      }

      &__img {
         width: 100%;
         min-width: 0;
         max-width: 268px;
         margin: 0 auto 40px;
      }

      .modal-close {
         top: 45px;
         right: 16px;
      }

   }

}
