.mf-tv {
   background-color: var(--mf-green);

   .wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 0;
   }

   &__text {
      color: #fff;
      max-width: 440px;
      padding-top: 99px;
      padding-bottom: 73px;

      h2 {
         margin-bottom: 23px;
      }

      p {
         font-size: 15px;
         line-height: 24px;
         margin-bottom: 58px;
      }

      .app-tv {
         a {
            margin-right: 14px;
            width: 40%;
            display: inline-block;

            &:last-child {
               margin-right: 0;
            }

            img {
               width: 100%;
            }
         }
      }
   }

   &__img {
      flex-grow: 1;
      white-space: nowrap;
      font-size: 0;
      margin-left: 78px;

      &:before {
         content: '';
         height: 100%;
         display: inline-block;
         vertical-align: middle;
      }

      img {
         width: 100%;
         vertical-align: middle;
      }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
      &__text {
         max-width: 335px;
      }
      &__img {
         margin-left: 0;
      }
   }
   @media (max-width: 767px) {
      .wrapper {
         flex-wrap: wrap;
         padding: 64px 30px 33px;
      }
      &__text {
         max-width: none;
         margin-bottom: 55px;
         padding-bottom: 0;
         padding-top: 0;

         .app-tv {
            a {
               margin-right: 0;
               width: calc(50% - 8px);
               float: left;

               &:last-child {
                  float: right;
               }

               img {
                  width: 100%;
               }
            }
         }
      }
      &__img {
         width: 100%;
         padding: 0;
         margin-left: 0;
      }
   }
}
