<!--Заказать-->
<div class="modal order-modal" id="order" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">

      <div class="modal-content requisition">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <h2>Заявка на подключение</h2>
         <form class="needs-validation" id="orderForm">
            <div class="order-modal__inputs">
               <div class="order-modal__input">
                  <div class="order-modal__input-title">Контактный номер</div>
                  <input type="text" name="phone" id="validationCustom01">
               </div>

               <div class="order-modal__input">
                  <div class="order-modal__input-title">Имя</div>
                  <input type="text" name="name" id="validationCustom02">
               </div>
            </div>

            <button type="submit" class="order-modal__btn btn" data-view="modal_order">Отправить</button>
         </form>
      </div>

      <div class="modal-content order-thx">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <h2 class="order-thx__title">Спасибо за заявку!</h2>
         <p class="order-thx__text">Наш оператор скоро свяжется с Вами</p>

         <div class="order-thx__order-promo order-promo">

            <div class="order-promo__head">
               <h3>Скачивайте стикеры и активируйте промокод</h3>
            </div>

            <div class="order-promo__body">
               <img class="order-promo__img" src="img/pic/cat_thx.png" alt="МегаКот">
               <button type="button" class="order-promo__btn btn">Добавить в Telegram</button>
               <h3 class="order-promo__your-promo">Ваш промокод на <nobr>МегаФон ТВ</nobr></h3>
               <p class="order-promo__promo-code">#Xxxxxc</p>
               <p class="order-promo__desc">Месяц доступа к сервису more.tv через приложение МегаФон ТВ. Активировать
                  промокод нужно <nobr>до 30 сентября 2021</nobr> г. на сайте <a target="_blank" href="https://megafon.tv/">megafon.tv</a></p>
            </div>
         </div>
      </div>

   </div>
</div>