<!--Заказать-->
<div class="modal order-modal order-modal__with-tariff" id="order" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">

      <div class="modal-content requisition">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <h2 class="order-modal__title" id="order_title">Подключить</h2>
         <p class="order-modal__description">Отправьте заявку, чтобы подключить тариф</p>

         <form class="order-modal__form" id="orderForm">
            <div class="order-modal__inputs">

               <div class="order-modal__input">
                  <input type="text" name="name" required>
                  <label class="input-label">Имя</label>
               </div>
               <div class="order-modal__input">
                  <input type="text" name="phone" minlength="16">
                  <label class="input-label">Телефон</label>
               </div>
            </div>

            <button
               disabled
               type="submit"
               name="submitBtn"
               class="order-modal__btn btn"
               data-view="modal_order"
            ><span id="order_btn_text">Отправить</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 13l3-3-3-3 1-1 4 4-4 4z"></path></svg>
            </button>
         </form>
      </div>

      <div class="modal-content order-thx">
         <button
            type="button"
            class="modal-close"
            data-dismiss="modal"
            aria-label="Close"
         ></button>

         <h2 class="order-thx__title">Спасибо за заявку!</h2>
         <p class="order-thx__text">Наш оператор свяжется с вами в рабочее время с 9 до 21 часов</p>
      </div>

   </div>
</div>