.order-modal {

   &__title {
      margin-bottom: 32px;
      letter-spacing: .5px;
   }

   &__description {
      display: none;
   }

   &__with-tariff {
      .order-modal__title {
         margin-bottom: 6px;
      }

      .order-modal__description {
         display: initial;
         font-weight: 400;
         margin-bottom: 32px;
      }
   }

   &__btn {
      height: 60px;
      border-radius: 30px;

      svg {
         margin-right: -15px;
         flex-shrink: 0;
         width: 25px;

         path {
            fill: #fff;

         }
      }
   }

   .modal-content {
      padding: 56px 56px 40px;
      text-align: center;
   }

   .modal-dialog {
      max-width: 812px;
   }

   &__form {
      width: 100%;
   }

   &__inputs {
      display: flex;
      gap: 0 8px;
      margin-bottom: 16px;
   }

   &__input {
      width: 50%;
      position: relative;

      &-title {
         font-size: 15px;
         font-weight: 500;
         margin-bottom: 10px;
      }

      input {
         width: 100%;
         position: relative;

         &:focus,
         &.not-empty,
         &.valid {
            padding-top: 17px;

            + label {
               bottom: 23px;
               font-size: 12px;
            }
         }

      }

      input + label {
         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         font-size: 15px;
         font-weight: 400;
         line-height: 24px;
         padding: 0 16px;
         color: #999 !important;
         display: flex !important;
         align-items: center;
         cursor: text;
         transition: .2s;
         pointer-events: none;

         &:after {
            content: '*';
            color: var(--mf-red);
         }
      }
   }

   &__select-date {
      margin-bottom: 14px;

      span {
         font-size: 15px;
         font-weight: 400;
         border-bottom: 1px dashed;
         cursor: pointer;

         &:hover {
            border-style: solid;
         }
      }
   }

   .order-opportunity {
      display: none;

      h2 {
         margin-bottom: 14px;
      }

      &__offer {
         display: none;
         margin-top: 50px;
         margin-bottom: -10px;
      }

      .order-modal__inputs {
         margin-bottom: 40px;
         flex-wrap: wrap;

         input {
            width: 480px;
            margin-right: 0;
         }

         label {
            display: none;
         }

         input.valid {
            border: 1px solid var(--mf-green);
            background: url('../img/svg/check.svg') calc(100% - 20px) 50% / 15px no-repeat;

            + label {
               display: block;
               color: var(--mf-green);
            }
         }

         input.error {
            border: 1px solid #F62434;
            background: none;

            + label + label {
               display: block;
               color: #F62434;
            }
         }
      }

      #btnFormCheck {
         display: none;
      }
   }

   .order-thx {
      display: none;
      min-height: auto;
      width: auto;
      margin: 0 auto;
      padding: 70px 114px;
      text-align: center;

      &__title {
         letter-spacing: .5px;
         margin-bottom: 4px;
      }

      &__text {
         font-size: 15px;
         font-weight: 400;
      }

   }


   @media (max-width: 1279px) {
      background-color: #fff;

      .modal-content {
         padding: 60px 275px;
         height: 100vh;
         justify-content: center;
      }

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }

      &__input {
         width: 50%;

         input {
            width: 100%;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;

            input, .tail-select {
               width: 50% !important;
            }
         }
      }

      .order-thx {
         width: 100%;
      }

   }

   @media (max-width: 1023px) {
      .modal-content {
         padding: 60px 122px;
      }

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }

      &__input {
         width: 50%;

         input {
            width: 100%;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-opportunity .order-modal__input {
         width: 100%;

         input {
            width: 100%;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;

            input, .tail-select {
               width: 50% !important;
            }
         }
      }

      .order-thx {
         width: 100%;
      }
   }

   @media (max-width: 767px) {

      .modal-content {
         padding: 95px 30px 80px;
      }

      &__inputs {
         flex-wrap: wrap;
      }

      &__input {
         width: 100%;

         input {
            width: 100%;
         }

         &:first-child {
            margin: 0 0 20px;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-opportunity .order-modal__input {
         width: 100%;

         input {
            width: 100%;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;
            flex-wrap: wrap;

            input, .tail-select {
               width: 100% !important;
            }

            input {
               margin: 0 0 20px;
            }
         }
      }

      .order-thx {
         width: 100%;
         height: 100vh;
      }

   }

   @media (max-width: 340px) {
      .order-thx h2 {
         font-size: 28px;
      }
   }
}