.header {
   height: 70px;
   background-color: #fff;

   .wrapper {
      display: flex;
      align-items: center;
      padding: 0 0 0 30px;
      height: 100%;
   }

   &__logo a {
      display: block;
      width: 178px;
      height: 31px;
      background: url('../img/svg/mf_logo_full.svg') center / contain no-repeat;
   }

   &__phone {
      margin-left: auto;
      margin-right: 35px;

      a {
         font-size: 18px;
         font-weight: 500;
         color: #333;

         &:hover {
            text-decoration: none;
         }
      }
   }

   &__city {
      display: flex;
      align-items: center;
      height: 100%;
      border-left: 1px solid #EDEDED;
      cursor: pointer;
      padding: 0 35px;

      span {
         font-size: 12px;
         font-weight: 500;
         color: #7F7F7F;
         position: relative;

         &:after {
            content: '';
            display: inline-block;
            margin-top: -3px;
            margin-left: 8px;
            width: 6.5px;
            height: 6.5px;
            border-left: 2px solid #7F7F7F;
            border-top: 2px solid #7F7F7F;
            transform: rotate(-135deg) skew(-10deg, -10deg) translateY(3px);
         }
      }
   }

   @media (max-width: 1024px) {
      margin: 0 -30px;

      &__phone {
         margin-right: 20px;

         a {
            display: block;
            font-size: 0;
            height: 32px;
            width: 32px;
            background: url('../img/svg/tel.svg') center / contain no-repeat;
         }
      }
      &__city {
         border: 0;
         padding: 0;
         margin-right: 30px;

         span {
            font-size: 0;
            height: 32px;
            width: 24px;
            background: url('../img/svg/geo.svg') center / contain no-repeat;

            &:after {
               display: none;
            }
         }
      }
   }
}