<header class="header">
   <div class="wrapper">
      <div class="section-row">
         <div class="header__text">
            <h1>УЛЬТРАБЫСТРЫЙ ДОМАШНИЙ ИНТЕРНЕТ</h1>
            <p>С ТАРИФОМ #ДЛЯДОМА ТУРБО</p>
            <div class="header__btns">
               <button onclick="openOrder({label: 'connect'})"
                       type="button"
                       class="btn btn-fiolet"
                       data-view="first_banner"
                       data-target="#order"
                       data-toggle="modal"
               >Подключить
               </button>
            </div>
         </div>
         <picture class="header__img-wrapp">
            <source srcset="img/pic/head_banner_mob.png" media="(max-width: 1100px)">
            <img class="header__img" src="img/pic/head_banner_desctop.png" alt="главный баннер"/>
         </picture>
      </div>
   </div>
</header>
