<header class="header">
   <div class="wrapper">
      <div class="section-row">
         <div class="header__text">
            <h1>
               Домашний интернет,
               <nobr>ТВ и связь</nobr>
            </h1>
            <p>В тарифах «Объединяй!»</p>
            <div class="header__btns">
               <button onclick="connect()"
                       type="button"
                       class="btn btn-fiolet"
                       data-view="first_banner"
                       data-target="#order"
                       data-toggle="modal"
               >Подключить
               </button>
               <span data-target="#for-their" onclick="analytics('connect_details_their')" data-toggle="modal"
                     class="header__about">Подробнее</span>
            </div>
         </div>
         <div class="header__img-wrapp">
            <picture>
               <source srcset="img/pic/head_banner_mob.png" media="(max-width: 602px)">
               <source srcset="img/pic/head_banner_tap.png" media="(max-width: 935px)">
               <img class="header__img" src="img/pic/head_banner_desctop.png" alt="img"/>
            </picture>
         </div>
      </div>
   </div>
</header>