<header class="header">
   <div class="wrapper">
      <div class="section-row">
         <div class="header__text">
            <h1>#ДляДома</h1>
            <p>Домашний интернет от МегаФона</p>
            <div class="header__btns">
               <button onclick="openOrder('connect')"
                       type="button"
                       class="btn btn-fiolet"
                       data-view="first_banner"
                       data-target="#order"
                       data-toggle="modal"
               >Подключить
               </button>
            </div>
         </div>
         <div class="header__img-wrapp">
            <div class="header__red-table">до 500 <br> Мбит/с</div>
            <picture>
               <img class="header__img" src="img/pic/pic_o.png" alt="pic_o.png"/>
            </picture>
         </div>
      </div>
   </div>
</header>
