.header {
   background-color: var(--mf-green);
   overflow: hidden;

   .section-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 386px;
   }

   &__text {
      color: #fff;
      margin-top: -30px;
      max-width: 646px;

      h1 {
         font-size: 52px;
         line-height: 56px;
         font-weight: 700;
         margin-bottom: 8px;
         display: flex;
         flex-direction: column;

         @media (max-width: 1200px) {
            font-size: 44px;
            line-height: 48px;
         }

         @media (max-width: 935px) {
            font-size: 36px;
            line-height: 40px;
         }

         @media (max-width: 415px) {
            nobr {
               white-space: pre-wrap;
            }
         }
      }

      p {
         font-size: 16px;
         font-weight: 700;
         line-height: 24px;
         margin-bottom: 25px;
      }

   }

   &__img-wrapp {
      align-items: flex-end;
      align-self: center;
      display: flex;
      font-size: 0;
      height: 100%;
      margin-left: 7%;
      position: relative;
      white-space: nowrap;
   }

   &__img {
      height: 100%
   }

   &__btns {
      display: flex;
      align-items: center;
   }

   @media (max-width: 1100px) {
      .section-row {
         align-items: normal;
         height: 305px;
      }

      &__text {
         margin-top: 42px;
         max-width: 416px;

         h1 {
            margin-bottom: 25px;
         }

         p {
            max-width: none;
            font-size: 16px;
            line-height: 24px;
         }
      }

      &__img-wrapp {
         align-self: flex-end;
         bottom: 0;
         height: auto;
         justify-content: center;
         margin-left: 0;
         position: relative;
         right: 17px;
         width: 50%;
      }

      &__img {
         max-width: 100%
      }
   }

   @media (max-width: 767px) {
      &__text {
         margin-bottom: 21px;
         margin-top: 0;
         width: 100%;
         text-align: center;
         padding: 0 16px;

         h1 {
            margin-bottom: 15px;
         }

         p {
            font-size: 15px;
            padding: 0 20px;
            margin-bottom: 13px;
         }
      }

      .section-row {
         flex-wrap: wrap;
         height: auto;
         margin: 0 -16px;
         padding-top: 33px;
         justify-content: center;
      }

      &__img-wrapp {
         position: static;
         width: 100%;
         max-width: 350px;
      }

      &__img {
         max-width: 100%;
         padding: 0 9px 0 16px;
         width: 100%;
      }

      &__btns {
         justify-content: center;
      }
   }

   @media (max-width: 350px) {
      .btn {
         width: 155px
      }

      .text h1 {
         white-space: normal;
      }
   }

}