.header {
   background-color: var(--mf-green);
   overflow: hidden;

   &__text {
      color: #fff;
      max-width: 646px;
      margin-top: -30px;

      h1 {
         font-size: 52px;
         line-height: 56px;
         font-weight: 700;
         margin-bottom: 8px;
         display: flex;
         flex-direction: column;

         @media (max-width: 1200px) {
            font-size: 44px;
            line-height: 48px;
         }

         @media (max-width: 767px) {
            font-size: 36px;
            line-height: 40px;
         }

         @media (max-width: 375px) {
            font-size: 34px;
            line-height: 36px;
         }

      }

      p {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 25px;
         font-weight: 700;
      }

   }

   &__img-wrapp {
      height: 100%;
      align-self: center;
      white-space: nowrap;
      font-size: 0;
      position: relative;
      display: flex;
      align-items: flex-end;
      margin-left: 7%;
   }

   &__img {
      height: 100%;
   }

   .section-row {
      display: flex;
      align-items: center;
      height: 386px;
      overflow: hidden;
   }

   .btn {
      width: 200px;
   }

   &__btns {
      display: flex;
      align-items: center;
   }


   @media (max-width: 1100px) {
      position: relative;

      .section-row {
         align-items: normal;
         height: 420px;
      }

      &__text {
         margin-top: 42px;
         max-width: 416px;

         h1 {
            margin-bottom: 25px;
         }
      }

      &__img-wrapp {
         position: absolute;
         right: 17px;
         bottom: 0;
         height: auto;
         margin-left: 0;
         align-self: flex-end;
         width: 50%;
         justify-content: center;
      }

      &__img {
         max-width: 388px;
      }
   }

   @media (max-width: 767px) {
      &__text {
         padding: 0 16px;
         margin-bottom: 21px;
         margin-top: 0;
         max-width: 340px;

         h1 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 15px;
         }

         p {
            margin-bottom: 13px;
         }
      }

      .section-row {
         padding-top: 33px;
         margin: 0 -16px;
         flex-wrap: wrap;
         height: auto;
      }

      &__img-wrapp {
         position: static;
         width: 100%;
      }

      &__img {
         max-width: 374px;
         width: 100%;
         padding: 0 9px 0 16px;
      }
   }

   @media (max-width: 350px) {
      .btn {
         width: 155px;
      }

      &__text h1 {
         white-space: normal;
      }
   }
}