<header class="header wrapper">
   <div class="header__container">
      <div class="header__text">
         <h1 class="header__title">
            Мобильная связь, домашний интернет и ТВ со скидкой до 50%
         </h1>
         <p class="header__description">
            Подключай тарифы «Объединяй» и «ДляДома», переводи на них своих друзей и оплачивай половину стоимости услуг
            связи!
         </p>
         <p class="header__price">от <b>275 ₽</b> в месяц</p>
      </div>
   </div>
</header>