.head-banner {
   background-color: var(--mf-green);
   overflow: hidden;

   &__img-wrapp {
      height: 100%;
      margin-right: 4%;
      white-space: nowrap;
      font-size: 0;
      text-align: right;
      position: relative;

      &:before {
         content: '';
         display: inline-block;
         height: 100%;
         vertical-align: bottom;
      }
   }

   &__img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: bottom;
   }

   .section-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 379px;
   }

   &__text {
      color: #fff;
      margin-top: -13px;
      width: 45%;
      min-width: 502px;

      h1 {
         margin-bottom: 15px;

         @media (max-width: 1200px) {
            font-size: 44px;
            line-height: 48px;
         }

         @media (max-width: 995px) {
            font-size: 36px;
            line-height: 40px;
         }

         @media (max-width: 415px) {
            nobr {
               white-space: pre-wrap;
            }
            br {
               display: none;
            }
         }
      }

      p {
         font-size: 15px;
         line-height: 24px;
         margin-bottom: 45px;
         font-weight: 500;
         max-width: 455px;
      }

      br {
         display: none;
         @media (max-width: 1300px) {
            display: block
         }
      }
   }

   .btn {
      padding: 0 33px;
   }

   &__col2 {
      height: 375px;
      margin-right: 50px;

      img {
         height: 100%;
      }
   }


   @media (max-width: 1200px) {
      &__img-wrapp {
         margin-right: -22px;
         max-width: 544px;
      }

      &__text {
         min-width: 421px;
      }

      p {
         max-width: 343px;
         margin-bottom: 30px;
      }

   }

   @media (max-width: 920px) {
      .section-row {
         align-items: flex-start;
         height: auto;
         flex-wrap: wrap;
         padding-top: 56px;
         margin: 0 auto;
         max-width: 470px;
      }

      &__text {
         width: 100%;
         margin-top: 0;
         text-align: center;
         padding: 0 0 27px;
         min-width: 0;

         p {
            max-width: none;
            font-size: 16px;
            line-height: 24px;
         }
      }

      &__img-wrapp {
         margin-right: 0;
      }

      &__img {
         width: 100%;
         height: auto;
      }

      &__sale {
         font-size: 24px;
         line-height: 29px;
         padding: 2px 7px 2px 7px;
         left: 17px;
         top: 18px;

         &:after {
            top: 40px;
            font-size: 19px;
         }
      }
   }

   @media (max-width: 500px) {
      &__text {
         padding: 0 0 20px;

         h1 {
            font-size: 30px;
            line-height: 36px;
         }

         p {
            font-size: 15px;
            padding: 0 20px;
         }
      }

      .section-row {
         padding-top: 33px;
      }
   }

   @media (max-width: 320px) {
      &__text h1 {
         white-space: normal;
      }
   }
}