<section class="megadisk">
   <div class="wrapper megadisk__container">
      <div class="megadisk__img megadisk__block">
         <img src="./img/pic/megaDisk.png" alt="img">
      </div>
      <div class="megadisk__text megadisk__block">
         <div class="megadisk__title">
            <img src="./img/pic/megadisk-icon.png" alt="img">
            <p>МегаДиск</p>
         </div>
         <p class="megadisk__free">Бесплатно 1 TБ</p>
         <p class="megadisk__desc">Облачное хранилище для ваших фотографий и видео, создания резервных копий
            контактов и документов, а также обмена файлами с другими людьми.</p>
         <span class="link"
               data-toggle="modal"
               data-target="#order"
               data-view="block_megadisk"
               onclick="openOrder('send_', 'megadisk')"
         >Подробнее</span>
      </div>
   </div>
</section>