<footer class="footer">
   <div class="footer__wrapper wrapper">
      <div class="footer__copyright copyright">
         <p class="copyright__age">6+</p>
         <p class="copyright__text">© <span id="footer_year">2022</span> <br> ПАО «Мегафон»</p>
      </div>
      <p class="footer__transfer">
         Услуги предоставляются ООО «Нэт Бай Нэт Холдинг»и ПАО «МегаФон» на территории присутствия операторов при наличии технической возможности. Подробности на megafon.ru
      </p>
      <p class="footer__policy">
         Продолжая использовать наш сайт, вы даете согласие на обработку файлов Cookies и других пользовательских
         данных, в соответствии с <a href="https://www.megafon.ru/ad/politika" target="_blank">Политикой конфиденциальности</a>.
      </p>
      <div class="footer__speedtest">
         <img src="./img/svg/speedtest-awards.svg" alt="img">
      </div>
   </div>
</footer>