.footer {
   background-color: #333333;
   color: #fff;
   font-size: 12px;
   line-height: 16px;
   border-radius: 24px 24px 0 0;

   p {
      font-weight: 400;
   }

   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 40px;
      padding-top: 50px;
      padding-bottom: 40px;
   }

   .copyright {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      line-height: 14px;

      &__age {
         width: 37px;
         height: 37px;
         line-height: 37px;
         border-radius: 50%;
         background-color: #5C5C5C;
         color: #333;
         font-size: 15px;
         font-weight: 400;
         text-align: center;
         flex-shrink: 0;
         margin-right: 12px;
      }

   }

   &__transfer,
   &__policy {
      max-width: 380px;
   }

   &__policy a {
      text-decoration: underline;
   }

   &__speedtest {
      flex: 0 0 133px;

      img {
         width: 100%;
      }
   }

   @media (max-width: 1024px) {

      &__wrapper {
         flex-wrap: wrap;
         padding-top: 29px;
         padding-bottom: 24px;
         position: relative;
         gap: 0;
      }

      .copyright {
         order: 0;
         width: 50%;
         min-width: 0;
         margin-right: 0;
      }

      &__speedtest {
         flex: 0 0 107px;
         order: 1;
      }

      &__transfer,
      &__policy {
         max-width: initial;
      }

      &__transfer {
         order: 2;
         margin: 30px 0 20px;
      }

      &__policy {
         order: 3;
      }

   }

}
