.tariffs {
   background-color: #EDEDED;
   padding: 72px 0 34px;
   overflow: hidden;

   &__title {
      margin-bottom: 37px;
   }

   .collapse-channel {
      font-size: 15px;

      &__channels {
         padding-top: 25px;
         margin-bottom: 0;
      }

      &__group-wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
         padding-right: 25px;
         line-height: 40px;
         font-weight: 500;

         &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            width: 10px;
            height: 100%;
            background: url('../img/svg/arrow.svg') center / contain no-repeat;
            transform: rotate(180deg);
         }
      }

      &__group-count {
         font-size: 14px;
         color: rgba(51, 51, 51, .5)
      }

      &__group-toggle[aria-expanded=false] {
         .collapse-channel__group-wrapper:before {
            transform: none;
         }
      }

      &__group-toggle {
         color: #333;

         &:hover {
            text-decoration: none;
            color: #333;
         }
      }

      &__group-list {
         color: rgba(51, 51, 51, .3);
         line-height: 24px;
         padding-left: 20px;
      }
   }

   .card {
      position: static;
      background: #FFFFFF;
      box-shadow: 0 0 12px rgba(51, 51, 51, .2);
      border-radius: 10px;
      padding: 16px;
      border: 0;
      height: 100%;
      display: flex !important;
      flex-direction: column;

      &__green-box {
         background-color: var(--mf-green-light);
         height: 88px;
         border-radius: 8px;
         padding: 12px;
         margin-bottom: 13px;
      }

      &__title {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 4px;
      }

      &__tariff-name {
         font-size: 15px;
         line-height: 24px;
         font-weight: 500;
      }

      &__marks {
         font-size: 12px;
         line-height: 16px;
         font-weight: 400;
         color: var(--mf-green);
      }

      &__new-price {
         font-size: 32px;
         font-weight: 600;
      }

      .params {
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-bottom: 17px;
      }

      .params__item {
         display: flex;
         align-items: center;
         font-size: 20px;
         line-height: 28px;
         font-weight: 500;
         margin-bottom: 3px;

         &:last-child {
            margin-bottom: 0;
         }

      }

      .params__tv {
         border-bottom: 1px dashed;
         cursor: pointer;

         &:hover {
            text-decoration: none;
            border-bottom-style: solid;
         }
      }

      .params__icon {
         display: inline-flex;
         width: 32px;
         height: 32px;
         margin-right: 12px;

         svg, path {
            fill: var(--mf-green);
         }

         svg {
            margin: auto;
         }
      }

      &__btns {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__about-btn {
         font-size: 15px;
         line-height: 24px;
         font-weight: 500;
         color: var(--mf-blue);
         text-align: center;
         margin-bottom: 7px;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
         }
      }

      &__connect-btn {
         height: 32px;
         padding: 0 32px;
      }

      &__info-icon {
         margin-left: 14px;
         vertical-align: text-bottom;
         cursor: pointer;
      }

   }

   .card.card__maximum {
      .card__green-box {
         background-color: var(--mf-premium-light);
      }

      .params__icon svg, path {
         fill: var(--mf-premium)
      }

      .card__connect-btn {
         background-color: var(--mf-premium);

         &:hover {
            background-color: var(--mf-premium-hov);
         }
      }

   }


   @media (max-width: 1023px) {
      padding: 78px 0 34px;
   }

   @media (max-width: 767px) {
      padding: 56px 0 34px;
   }

}


